FORMAT: 1A
HOST: https://api.komuto.skyshi.com/

# Komuto

Komuto API

Postman collection https://www.getpostman.com/collections/f2801628834132085b4a

## Account [/accounts]

### Get Profile [GET /accounts/profile]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Profile Data",
            "data": {
                "id": 1,
                "name": "User skyshi",
                "photo": "http://media.tcc.fl.edu/webcourses/ctll/Developing_Your_Teaching_Philosophy/examples.jpg",
                "gender": "female",
                "place_of_birth": "Yogyakarta",
                "date_of_birth": 1496710635
            }
        }

### Update Profile [PUT /accounts/profile]

+ Request (application/json)

        {
            "name": "User Skyshi",
            "photo": "photo.jpg",
            "gender": "male",
            "place_of_birth": 3471,
            "date_of_birth": 1496710635
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Profile Data",
            "data": {
                "id": 1,
                "name": "User skyshi",
                "photo": "http://media.tcc.fl.edu/webcourses/ctll/Developing_Your_Teaching_Philosophy/examples.jpg",
                "gender": "female",
                "place_of_birth": "Yogyakarta",
                "date_of_birth": 1496710635
            }
        }

### Get Phone [GET /accounts/phone]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Phone Number Data",
            "data": {
                "phone_number": "082312391239"
            }
        }

### Update Phone [PUT /accounts/phone]

+ Request (application/json)

        {
            "phone_number": "0823912383929"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Phone Number Data",
            "data": {
                "phone_number": "0823912383929"
            }
        }

### Send OTP Phone [POST /accounts/otp/phone]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Verify OTP Phone [POST /accounts/phone/verify]

+ Request (application/json)

        {
            "code": "84729"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Send OTP Bank [POST /accounts/otp/bank]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

## Address [/users/address]

### Primary Address [GET /users/address]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Address Information",
            "data": {
                "id": 1,
                "name": "User skyshi",
                "email": "user@skyshi.com",
                "phone_number": "081222333444",
                "postal_code": "84314",
                "address": "Jl. Klamat No. 24 RT. 002 RW. 003",
                "alias_address": "Alamat Toko",
                "is_primary_address": true,
                "is_sale_address": false,
                "is_tender_address": false,
                "province": {
                    "id": 1,
                    "name": "Yogyakarta"
                },
                "district": {
                    "id": 1,
                    "ro_id": 1,
                    "name": "Sleman"
                },
                "sub_district": {
                    "id": 1,
                    "name": "Ngaglik"
                },
                "village": {
                    "id": 1,
                    "name": "Sariharjo"
                }
            }
        }

### List Address [GET /users/addresses]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Address Information",
            "data": [
                {
                    "id": 1,
                    "name": "User skyshi",
                    "email": "user@skyshi.com",
                    "phone_number": "081222333444",
                    "postal_code": "84314",
                    "address": "Jl. Klamat No. 24 RT. 002 RW. 003",
                    "alias_address": "Alamat Toko",
                    "is_primary_address": true,
                    "is_sale_address": false,
                    "is_tender_address": false,
                    "province": {
                        "id": 1,
                        "name": "Yogyakarta"
                    },
                    "district": {
                        "id": 1,
                        "ro_id": 1,
                        "name": "Sleman"
                    },
                    "sub_district": {
                        "id": 1,
                        "name": "Ngaglik"
                    },
                    "village": {
                        "id": 1,
                        "name": "Sariharjo"
                    }
                }
            ]
        }

### Create Address [POST /users/addresses]

+ Request (application/json)

        {
            "province_id": 1,
            "district_id": 1,
            "sub_district_id": 1,
            "village_id": 1,
            "name": "User skyshi",
            "email": "user@skyshi.com",
            "phone_number": "081222333444",
            "postal_code": "84314",
            "address": "Jl. Klamat No. 24 RT. 002 RW. 003",
            "alias_address": "Alamat Toko",
            "is_primary": true
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Get Address [GET /users/addresses/{id}]

+ Parameters
    + id: 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 1,
                "name": "User skyshi",
                "email": "user@skyshi.com",
                "phone_number": "081222333444",
                "postal_code": "84314",
                "address": "Jl. Klamat No. 24 RT. 002 RW. 003",
                "alias_address": "Alamat Toko",
                "is_primary_address": true,
                "is_sale_address": false,
                "is_tender_address": false,
                "province": {
                    "id": 1,
                    "name": "Yogyakarta"
                },
                "district": {
                    "id": 1,
                    "ro_id": 1,
                    "name": "Sleman"
                },
                "sub_district": {
                    "id": 1,
                    "name": "Ngaglik"
                },
                "village": {
                    "id": 1,
                    "name": "Sariharjo"
                }
            }
        }

### Update Address [PUT /users/addresses/{id}]

+ Parameters
    + id: 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 1,
                "name": "User skyshi",
                "email": "user@skyshi.com",
                "phone_number": "081222333444",
                "postal_code": "84314",
                "address": "Jl. Klamat No. 24 RT. 002 RW. 003",
                "alias_address": "Alamat Toko",
                "is_primary_address": true,
                "is_sale_address": false,
                "is_tender_address": false,
                "province": {
                    "id": 1,
                    "name": "Yogyakarta"
                },
                "district": {
                    "id": 1,
                    "ro_id": 1,
                    "name": "Sleman"
                },
                "sub_district": {
                    "id": 1,
                    "name": "Ngaglik"
                },
                "village": {
                    "id": 1,
                    "name": "Sariharjo"
                }
            }
        }

### Delete Address [DELETE /users/addresses/{id}]

+ Parameters
    + id: 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Get Store Address [GET /users/store/address]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Address Data",
            "data": {
                "id": 485,
                "name": "User skyshi",
                "email": "abdan@skyshi.com",
                "phone_number": "081222333444",
                "postal_code": "84341",
                "address": "Jl. Klamat No. 24 RT. 002 RW. 003",
                "alias_address": "Alamat Toko",
                "is_primary_address": true,
                "is_sale_address": true,
                "is_tender_address": false,
                "is_checked": false
            }
        }

### Update Store Address [PUT /users/store/address]

+ Request (application/json)

        {
            "province_id": 32,
            "district_id": 3273,
            "sub_district_id": 1111110,
            "village_id": 1111110073,
            "postal_code": "84341",
            "address": "Jl. Klamat No. 24 RT. 002 RW. 003"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Address Data",
            "data": {
                "id": 485,
                "name": "User skyshi",
                "email": "abdan@skyshi.com",
                "phone_number": "081222333444",
                "postal_code": "84341",
                "address": "Jl. Klamat No. 24 RT. 002 RW. 003",
                "alias_address": "Alamat Toko",
                "is_primary_address": true,
                "is_sale_address": true,
                "is_tender_address": false,
                "is_checked": false
            }
        }

## Bank [/banks]

### List Master Bank [GET /banks]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Master Bank Data",
            "data": [
                {
                    "id": 1,
                    "name": "Mandiri",
                    "code": "1001",
                    "status": 1,
                    "status_at": 1496710635,
                    "logo": "mandiri.png"
                },
                {
                    "id": 3,
                    "name": "BCA",
                    "code": "1002",
                    "status": 1,
                    "status_at": 1496710635,
                    "logo": "bca.png"
                },
                {
                    "id": 5,
                    "name": "BRI",
                    "code": "2003",
                    "status": 1,
                    "status_at": 1496710635,
                    "logo": "bri.png"
                }
            ]
        }

### Get Bank [GET /banks/{id}]

+ Parameters
    + id : 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Master Bank Data",
            "data": {
                "id": 1,
                "name": "Mandiri",
                "code": "1001",
                "status": 1,
                "status_at": 1496710635,
                "logo": "mandiri.png"
            }
        }

### List Bank Accounts [GET /accounts/banks]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Bank Account Data",
            "data": [
                {
                    "id": 4,
                    "user_id": 50,
                    "bank": {
                        "id": 1,
                        "name": "Mandiri",
                        "code": "1001",
                        "status": "1",
                        "status_at": 1466497561,
                        "logo": null
                    },
                    "holder_name": "Satrio wisnugroho",
                    "holder_account_name": "09829123923",
                    "bank_branch_office_name": "SLEMAN",
                    "is_primary": false
                }
            ]
        }

### Create Bank Accounts [POST /accounts/banks]

+ Request (application/json)

        {
            "code": "83783",
            "master_bank_id": 1,
            "holder_name": "user skyshi2",
            "holder_account_number": "09812309812398",
            "bank_branch_office_name": "Yogyakarta"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Bank Account Data",
            "data": {
                "id": 4,
                "user_id": 50,
                "bank": {
                    "id": 1,
                    "name": "Mandiri",
                    "code": "1001",
                    "status": "1",
                    "status_at": 1466497561,
                    "logo": null
                },
                "holder_name": "Satrio wisnugroho",
                "holder_account_name": "09829123923",
                "bank_branch_office_name": "SLEMAN",
                "is_primary": false
            }
        }

### Get Bank Accounts [GET /accounts/banks/{id}]

+ Parameters
    + id: 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Bank Account Data",
            "data": {
                "id": 4,
                "user_id": 50,
                "bank": {
                    "id": 1,
                    "name": "Mandiri",
                    "code": "1001",
                    "status": "1",
                    "status_at": 1466497561,
                    "logo": null
                },
                "holder_name": "Satrio wisnugroho",
                "holder_account_name": "09829123923",
                "bank_branch_office_name": "SLEMAN",
                "is_primary": false
            }
        }

### Update Bank Accounts [PUT /accounts/banks/{id}]

+ Parameters
    + id: 1 (number, required)

+ Request (application/json)

        {
            "code": "08293",
            "master_bank_id": 1,
            "holder_name": "user skyshi2",
            "holder_account_number": "09812309812398",
            "bank_branch_office_name": "Yogyakarta"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 4,
                "user_id": 50,
                "bank": {
                    "id": 1,
                    "name": "Mandiri",
                    "code": "1001",
                    "status": "1",
                    "status_at": 1466497561,
                    "logo": null
                },
                "holder_name": "Satrio wisnugroho",
                "holder_account_name": "09829123923",
                "bank_branch_office_name": "SLEMAN",
                "is_primary": false
            }
        }

### Delete Bank Accounts [DELETE /accounts/banks/{id}]

+ Parameters
    + id: 1 (number, required)

+ Request (application/json)

        {
            "code": "83792"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### List Bank Accounts Marketplace [GET /banks/marketplace]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Marketplace Bank Account Data",
            "data": [
                {
                    "id": 1,
                    "marketplace_id": 15,
                    "bank_name": "BCA@pasarkaranganyar",
                    "holder_name": "PT Pasarkaranganyar",
                    "bank_branch_office_name": "Bekasi",
                    "is_primary": true,
                    "logo": null
                }
            ]
        }

### List Bank Accounts Komuto [GET /banks/komuto]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Marketplace Bank Account Data",
            "data": [
                {
                    "id": 4,
                    "user_id": 1,
                    "bank": {
                        "id": 1,
                        "name": "Mandiri",
                        "code": "1001",
                        "status": 1,
                        "status_at": 1466497561,
                        "logo": "https://komutodev.aptmi.com/img/bank/bank-mandiri.png"
                    },
                    "holder_name": "Rokidi",
                    "holder_account_number": "009282772927",
                    "marketplace_id": 0,
                    "bank_branch_office_name": "Demak",
                    "is_primary": false
                }
            ]
        }

## Brand [/brands]

### List [GET /brands]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Brands Data",
            "data": [
                {
                    "id": 1,
                    "category_id": 2,
                    "name": "Nike"
                },
                {
                    "id": 2,
                    "category_id": 2,
                    "name": "Adidas"
                }
            ]
        }
        
## Bucket [/buckets]

### Add to Cart [POST /buckets]

+ Request (application/json)

        {
            "product_id": 1,
            "expedition_id": 1,
            "expedition_service_id": 1,
            "qty": 1,
            "note": "Lorem ipsum",
            "address_id": 1,
            "is_insurance": true,
            "additional_cost": 5000,
            "delivery_cost": 32000
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 252,
                "user_id": 32,
                "promo_id": null,
                "order_at": 1501693200,
                "wallet": 0,
                "status": 1,
                "status_at": 1501693200
            }
        }
        
### Delete Cart [DELETE /buckets/items/{id}]

+ Parameters

    + id: 380 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Add Promo [POST /buckets/promo]

+ Request (application/json)

        {
            "code": "BELANJAENAK"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Count Bucket",
            "data": {
                "id": 7,
                "marketplace_user_id": 0,
                "promo_code": "RMN019",
                "type": 1,
                "percentage": 10,
                "nominal": 300000,
                "start_at": 1464886800,
                "expired_at": 1509296400,
                "status": 1,
                "status_at": 1469775539
            }
        }

### Cancel Promo [DELETE /buckets/promo/cancel]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Get Count [GET /buckets/count]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Count Bucket",
            "data": {
                "count": 10
            }
        }
        
### Bulk Update Cart [PUT /buckets]

+ Request

        {
            "items": [
                {
                    "id": 470,
                    "expedition_id": 2,
                    "expedition_service_id": 1,
                    "qty": 1,
                    "note": "Kirimnya cepat ya gan",
                    "address_id": 142,
                    "is_insurance": true,
                    "service": "YES",
                    "origin_ro_id": 152,
                    "destination_ro_id": 108
                }
            ] 
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Items Data",
            "data": [
                {
                    "id": 470,
                    "qty": 1,
                    "weight": 1000,
                    "additional_cost": 0,
                    "total_price": 32200,
                    "bucket_id": 269,
                    "product_id": 96,
                    "invoice_id": null,
                    "shipping_id": 309,
                    "dropshipper_id": 0,
                    "note": "Kirimnya cepat ya gan"
                }
            ]
        }

### Get Bucket [GET /users/bucket]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Bucket Data",
            "data": {
                "user_id": 50,
                "promo": {
                    "id": 0,
                    "marketplace_user_id": 0,
                    "promo_code": "DFLT",
                    "type": 1,
                    "percentage": 10,
                    "nominal": 300000,
                    "start_at": 1464886800,
                    "expired_at": 1467219600,
                    "status": 1,
                    "status_at": 1464886800
                },
                "order_at": 1472749200,
                "admin_fee": 0,
                "total_price": 0,
                "wallet": 0,
                "final_price": 0,
                "payment_method": 1,
                "status": 0,
                "status_at": 1472749200,
                "items": [
                    {
                        "id": 630,
                        "bucket_id": 4,
                        "product_id": 15,
                        "invoice_id": 1,
                        "shipping_id": 1,
                        "dropshipper_id": null,
                        "qty": 1,
                        "weight": 1,
                        "option_information": "test",
                        "delivery_cost": 10000,
                        "additional_cost": 0,
                        "total_price": 1000000,
                        "final_price": 110000,
                        "status": 1,
                        "status_at": 1472804433,
                        "product": {
                            "id": 15,
                            "name": "Hijab Muslimah Unik",
                            "price": 35000,
                            "discount": 0,
                            "is_discount": false,
                            "image": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg",
                            "store": {
                                "id": 11,
                                "user_id": 37,
                                "name": "MikhaShop",
                                "slogan": "Untung Tidak Untung yang Penting Bati",
                                "description": "Jualan segala jenis barang",
                                "logo": "http://188.166.246.46/uploads/toko/3950b781c1196ec84204837cf7895a1f74b77343_DSC00694.jpg",
                                "custom_domain": "",
                                "status": 1,
                                "remarks_status": null,
                                "cover_image": null,
                                "seller_theme_id": 0,
                                "reputation": null,
                                "store_id_number": "53125331263127621",
                                "total_favorite": null,
                                "created_at": 1471194000,
                                "status_at": 1471206816,
                                "is_verified": false
                            }
                        },
                        "shipping": {
                            "id": 1,
                            "delivery_cost": 10000,
                            "insurance_fee": 100000,
                            "note": null,
                            "is_insurance": true,
                            "address": {
                                "id": 29,
                                "name": "Widodo Pangestu",
                                "email": "email@mail.com",
                                "phone_number": "08221613148",
                                "postal_code": "15133",
                                "address": "Jl. Sukabumi E9/28",
                                "alias_address": "My Home",
                                "is_primary_address": false,
                                "is_sale_address": false,
                                "is_tender_address": false
                            },
                            "expedition_service": {
                                "id": 1,
                                "name": "REG",
                                "description": "JNE Reguler adalahpaket reguler yang ditawarkan JNE. Kecepatanpengiriman tergantung dari lokasi pengiriman dan tujuan. untuk kota yang sama umumnya memakan waku 2-3 hari",
                                "logo": null,
                                "expedition": {
                                    "id": 2,
                                    "name": "JNE",
                                    "logo": "http://188.166.246.46/img/pengiriman/jne.png",
                                    "insurance_fee": 2
                                },
                                "is_checked": false
                            }
                        }
                    }
                ]
            }
        }

### Get Bucket Item [GET /users/bucket/items/{id}]

+ Parameters

    + id: 630 (number, required)


+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 630,
                "bucket_id": 4,
                "product_id": 15,
                "invoice_id": 1,
                "shipping_id": 1,
                "dropshipper_id": null,
                "qty": 1,
                "weight": 1,
                "option_information": "test",
                "delivery_cost": 10000,
                "additional_cost": 0,
                "total_price": 1000000,
                "final_price": 110000,
                "status": 1,
                "status_at": 1472804433,
                "product": {
                    "id": 15,
                    "name": "Hijab Muslimah Unik",
                    "price": 35000,
                    "discount": 0,
                    "is_discount": false,
                    "image": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg",
                    "store": {
                        "id": 11,
                        "user_id": 37,
                        "name": "MikhaShop",
                        "slogan": "Untung Tidak Untung yang Penting Bati",
                        "description": "Jualan segala jenis barang",
                        "logo": "http://188.166.246.46/uploads/toko/3950b781c1196ec84204837cf7895a1f74b77343_DSC00694.jpg",
                        "custom_domain": "",
                        "status": 1,
                        "remarks_status": null,
                        "cover_image": null,
                        "seller_theme_id": 0,
                        "reputation": null,
                        "store_id_number": "53125331263127621",
                        "total_favorite": null,
                        "created_at": 1471194000,
                        "status_at": 1471206816,
                        "is_verified": false
                    }
                },
                "shipping": {
                    "id": 1,
                    "delivery_cost": 10000,
                    "insurance_fee": 100000,
                    "note": null,
                    "is_insurance": true,
                    "address": {
                        "id": 29,
                        "name": "Widodo Pangestu",
                        "email": "email@mail.com",
                        "phone_number": "08221613148",
                        "postal_code": "15133",
                        "address": "Jl. Sukabumi E9/28",
                        "alias_address": "My Home",
                        "is_primary_address": false,
                        "is_sale_address": false,
                        "is_tender_address": false
                    },
                    "expedition_service": {
                        "id": 1,
                        "name": "REG",
                        "description": "JNE Reguler adalahpaket reguler yang ditawarkan JNE. Kecepatanpengiriman tergantung dari lokasi pengiriman dan tujuan. untuk kota yang sama umumnya memakan waku 2-3 hari",
                        "logo": null,
                        "expedition": {
                            "id": 2,
                            "name": "JNE",
                            "logo": "http://188.166.246.46/img/pengiriman/jne.png",
                            "insurance_fee": 2
                        },
                        "is_checked": false
                    }
                }
            }
        }

## Catalog [/users/store/catalogs]

### List [GET /users/store/catalogs]

+ Response 201 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Store Catalog Data",
            "data": [
                {
                    "id": 1,
                    "name": "Sepatu Futsal",
                    "count_product": 5
                },
                {
                    "id": 3,
                    "name": "Sepatu Bola",
                    "count_product": 5
                }
            ]
        }

### Create [POST /users/store/catalogs]

+ Request (application/json)

        {
            "name": "Sepatu Futsal"
        }

+ Response 201 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 80,
                "store_id": 41,
                "name": "Sepatu Futsal",
                "count_product": null,
                "created_at": 1500266952
            }
        }

### Get [GET /users/store/catalogs/{catalog_id}]

+ Parameters

    + catalog_id: 1 (number, required)

+ Response 201 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 1,
                "store_id": 41,
                "name": "Sepatu Futsal",
                "count_product": null,
                "created_at": 1500266952
            }
        }

### Update [PUT /users/store/catalogs/{catalog_id}]

+ Parameters

    + catalog_id: 1 (number, required)

+ Request (application/json)

        {
            "name": "Sepatu Bola"
        }

+ Response 201 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Catalog Data",
            "data": {
                "id": 1,
                "store_id": 41,
                "name": "Sepatu Bola",
                "count_product": null,
                "created_at": 1476994034
            }
        }

### Delete [DELETE /users/store/catalogs/{catalog_id}]

+ Parameters

    + catalog_id: 1 (number, required)

+ Response 201 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

## Category [/categories]

### List [GET]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Category List Data",
            "data": [
                {
                    "id": 1,
                    "category_id": 0,
                    "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                    "name": "Fashion dan Aksesoris"
                }
            ]
        }

### List Category with Sub Category [GET /categories/sub]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Category List Data",
            "data": [
                {
                    "id": 1,
                    "category_id": 0,
                    "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                    "name": "Fashion dan Aksesoris",
                    "sub_categories": [
                        {
                            "id": 2,
                            "category_id": 1,
                            "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                            "name": "Fashion Pria"
                        },
                        {
                            "id": 3,
                            "category_id": 1,
                            "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                            "name": "Fashion Wanita"
                        }
                    ]
                },
                {
                    "id": 4,
                    "category_id": 0,
                    "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                    "name": "Ibu dan Anak",
                    "sub_categories": [
                        {
                            "id": 5,
                            "category_id": 4,
                            "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                            "name": "Ibu Hamil dan Menyusui"
                        },
                        {
                            "id": 6,
                            "category_id": 4,
                            "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                            "name": "Baby Sitter"
                        }
                    ]
                }
            ]
        }

### Get Category with Sub Category [GET /categories/{id}]

+ Parameters
    + id: 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Sub Category List Data",
            "data": [
                {
                    "id": 2,
                    "category_id": 1,
                    "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                    "name": "Fashion Pria"
                },
                {
                    "id": 3,
                    "category_id": 1,
                    "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                    "name": "Fashion Wanita"
                }
            ]
        }

### Get Brand by Category [GET /categories/{id}/brands]

+ Parameters
    + id: 2 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Brand List Data",
            "data": [
                {
                    "id": 1,
                    "category_id": 2,
                    "name": "Nike"
                },
                {
                    "id": 2,
                    "category_id": 2,
                    "name": "Adidas"
                }
            ]
        }
        
## Dispute [/disputes]

## Expedition [/expeditions]

### List [GET /expeditions]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Expedition Data",
            "data": [
                {
                    "id": 1,
                    "name": "JNE",
                    "logo": "logo.png",
                    "insurance_fee": 20000,
                    "services": [
                        {
                            "id": 1,
                            "name": "REG",
                            "description": "Layanan reguler",
                            "logo": "logo.png"
                        }
                    ]
                },
                {
                    "id": 2,
                    "name": "TIKI",
                    "logo": "logo.png",
                    "insurance_fee": 15000,
                    "services": [
                        {
                            "id": 1,
                            "name": "Service Normal",
                            "description": "Service normal adalah",
                            "logo": "logo.png"
                        }
                    ]
                }
            ]
        }

### List Expedition Service [GET /expeditions/services]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Expedition Service Data",
            "data": [
                {
                    "id": 1,
                    "expedition_id": 2,
                    "name": "JNE Reguler",
                    "description": "JNE Reguler adalahpaket reguler yang ditawarkan JNE. Kecepatanpengiriman tergantung dari lokasi pengiriman dan tujuan. untuk kota yang sama umumnya memakan waku 2-3 hari",
                    "status": "1",
                    "status_at": "2016-06-21T17:00:00.000Z",
                    "logo": null
                },
                {
                    "id": 2,
                    "expedition_id": 2,
                    "name": "JNE YES",
                    "description": "JNE YES adalah Paket dengan prioritas pengiriman tercepat yang ditawarkan JNE. Hanya saja perlu diperhatikan kecepatan barang dipengaruhi kecepatan penjual melakukan pengiriman barang.",
                    "status": "1",
                    "status_at": "2016-06-11T17:00:00.000Z",
                    "logo": null
                }
            ]
        }

### Get Expedition Services [GET /expeditions/{id}/services]

+ Parameters
    + id : 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Expedition Data",
            "meta": {
                "page": 1,
                "limit": 10,
                "total": 100,
                "pages": 10
            },
            "data": [
                {
                    "id": 1,
                    "name": "REG",
                    "description": "Layanan reguler",
                    "logo": "logo.png"
                },
                {
                    "id": 1,
                    "name": "REG",
                    "description": "Layanan reguler",
                    "logo": "logo.png"
                }
            ]
        }

### Expedition Cost [GET /expeditions/{id}/cost?origin_ro_id={origin_id}&destination_ro_id={destination_id}&weight={weight}]

+ Parameters
    + origin_id: 501 (number, required)
    + destination_id: 62 (number, required)
    + weight: 1700 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Cost Data",
            "data": [
                {
                    "id": 1,
                    "name": "REG",
                    "description": "Layanan reguler",
                    "cost": 32000,
                    "etd": "6-7",
                    "full_name": "JNE REG"
                },
                {
                    "id": 2,
                    "name": "OKE",
                    "description": "Ongkos Kirim Ekonomis",
                    "cost": 28000,
                    "etd": "4-5",
                    "full_name": "JNE OKE"
                }
            ]
        }
        
### Expedition Cost by Product Id [GET /expeditions/cost?product_id={product_id}&origin_ro_id={origin_id}&destination_ro_id={destination_id}&weight={weight}]

+ Parameters
    + product_id: 1 (number, required)
    + origin_id: 501 (number, required)
    + destination_id: 62 (number, required)
    + weight: 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Cost Data",
            "data": [
                {
                    "id": 1,
                    "name": "REG",
                    "description": "Layanan reguler",
                    "cost": 32000,
                    "etd": "6-7",
                    "full_name": "JNE REG"
                },
                {
                    "id": 2,
                    "name": "Reguler",
                    "description": "Reguler",
                    "cost": 28000,
                    "etd": "4-5",
                    "full_name": "TIKI Reguler"
                }
            ]
        }

### List Store Expeditions [GET /users/store/expeditions]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Store Expeditions Data",
            "data": [
                {
                    "id": 7,
                    "name": "PANDU",
                    "status": 1,
                    "method": "1",
                    "status_at": 1471366800,
                    "logo": "http://188.166.246.46/img/pengiriman/pandu.png",
                    "insurance_fee": 2,
                    "services": [
                        {
                            "id": 12,
                            "name": "Reguler",
                            "description": "Paket Reguler adalah paket yang ditawarkan oleh Pandu Logistik yang umumnya memakan waktu 2-3 hari",
                            "logo": null,
                            "is_checked": false
                        }
                    ]
                },
                {
                    "id": 8,
                    "name": "CAHAYA",
                    "status": 1,
                    "method": "1",
                    "status_at": 1471366800,
                    "logo": "http://188.166.246.46/img/pengiriman/cahaya.png",
                    "insurance_fee": 2,
                    "services": [
                        {
                            "id": 13,
                            "name": "Service Normal",
                            "description": "Service Normal adalah Pengiriman paket yang ditawarkan keseluruh Indonesia dengan lead time  pengiriman estimasi 2-3 hari ke kota besar dan 4-7 hari ke pelosok",
                            "logo": null,
                            "is_checked": false
                        }
                    ]
                }
            ]
        }

### Update Store Expeditions [PUT /users/store/expeditions]

+ Request (application/json)

        [
            {
                "expedition_service_id": 1,
                "status": 1
            },
            {
                "expedition_service_id": 0,
                "status": 0
            }
        ]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Store Expeditions Manage [GET /users/store/expeditions/manage]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Expedition Data",
            "data": [
                {
                    "id": 1,
                    "name": "JNE",
                    "logo": "logo.png",
                    "insurance_fee": 20000,
                    "services": [
                        {
                            "id": 1,
                            "name": "REG",
                            "description": "Layanan reguler",
                            "logo": "logo.png",
                            "status": 1
                        },
                        {
                            "id": 1,
                            "name": "REG",
                            "description": "Layanan reguler",
                            "logo": "logo.png",
                            "status": 0
                        }
                    ]
                },
                {
                    "id": 2,
                    "name": "TIKI",
                    "logo": "logo.png",
                    "insurance_fee": 15000,
                    "services": [
                        {
                            "id": 1,
                            "name": "Service Normal",
                            "description": "Service normal adalah",
                            "logo": "logo.png",
                            "status": 1
                        }
                    ]
                }
            ]
        }

## Location [/locations]

### List Provinces [GET /locations/provinces]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Provinces Data",
            "data": [
                {
                    "id": 1,
                    "name": "Yogyakarta"
                },
                {
                    "id": 2,
                    "name": "Jakarta"
                }
            ]
        }

### List Districts [GET /locations/districts?province_id={id}&q={query}]

+ Parameters
    + id: 1 (number, optional)
    + query: yog (string, optional)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Districts Data",
            "data": [
                {
                    "id": 1,
                    "name": "Sleman"
                },
                {
                    "id": 2,
                    "name": "Kulon Progo"
                }
            ]
        }

### List Sub District [GET /locations/sub-districts?district_id={id}]

+ Parameters
    + id: 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Sub Districts Data",
            "data": [
                {
                    "id": 1,
                    "name": "Ngaglik"
                },
                {
                    "id": 2,
                    "name": "Ngemplak"
                }
            ]
        }

### List Villages [GET /locations/villages?sub_district_id={id}]

+ Parameters
    + id: 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Sub Districts Data",
            "data": [
                {
                    "id": 1,
                    "name": "Sariharjo"
                },
                {
                    "id": 2,
                    "name": "Umbulmartani"
                }
            ]
        }

## Midtrans [/notification]

### Notification [POST /notification]

+ Request (application/json)

        {
            "masked_card": "411111-1111",
            "approval_code": "000000",
            "bank": "mandiri",
            "eci": "02",
            "transaction_time": "2014-04-07 16:22:36",
            "gross_amount": "2700",
            "order_id": "ORDER-441",
            "payment_type": "credit_card",
            "signature_key": "acd9bf4e00b8dce463d676797a7c8722202c903e222229fc78e01588bff72cf25c2baae73437532193f121947a0de1c8aa319c69c20ff4827ab1df97e184209d",
            "status_code": "200",
            "transaction_id": "826acc53-14e0-4ae7-95e2-845bf0311579",
            "transaction_status": "capture",
            "fraud_status": "accept",
            "status_message": "Veritrans payment notification"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

## Other [/images]

### Upload Images [POST /images]

+ Request (application/json)

        {
            "images": "image",
            "type": "resolution"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "path": "https://komutodev.aptmi.com/uploads/resolution",
                "images": [
                    {
                        "name": "resolution-1507598000659-0.jpg"
                    }
                ]
            }
        }

### Get Commission [GET /commissions?price={amount}]

+ Parameters
    + amount: 750000 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Commission Data",
            "data": {
                "commission": 1.5
            }
        }

### Store Page [GET /pages/store]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Store Page",
            "data": {
                "sales": {
                    "new_order": 5,
                    "processing_order": 3,
                    "sale": 15
                }
            }
        }

## Payment [/payment-methods]

### Get Payment Methods [GET /payment-methods]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Payment Methods Data",
            "data": [
                {
                    "id": 1,
                    "name": "Manual Transfer",
                    "remarks": "Menerima pembayaran via transfer bank, akan membantu Toko Online Anda lebih dipercaya.",
                    "logo": "https://komutodev.aptmi.com/uploads/payment/transferbank.png",
                    "type": 0,
                    "type_text": "manual_transfer-doku",
                    "status": 1,
                    "status_at": 1468987469
                },
                {
                    "id": 3,
                    "name": "BCA KlikPay",
                    "remarks": "BCA KlikPay adalah cara bayar belanja online yang praktis dan terpercaya dengan menggunakan fasilitas KlikBCA Individu atau BCA Card.",
                    "logo": "https://komutodev.aptmi.com/uploads/payment/bcaklikpay.png",
                    "type": 1,
                    "type_text": "klikpay_bca-doku",
                    "status": 1,
                    "status_at": 1472526291
                }
            ]
        }

### Bank Payment [POST /buckets/{id}/bank]

+ Parameters
    + id: 123 (number, required)

+ Request (application/json)

        {
            "bank_account_id": 3,
            "date": 1477242000,
            "amount": 150000,
            "bank": "BNI",
            "holder_account_number": "12341234",
            "attachment": "attachment.png"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

## Resolution [/users/resolutions]

### List [GET /users/resolutions?is_closed={isClosed}]

+ Parameters
    + isClosed: false (boolean)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Resolution Data",
            "meta": {
                "page": 1,
                "limit": 10
            },
            "data": [
                {
                    "id": 50,
                    "user_id": 59,
                    "ticket_number": "RS-0050",
                    "priority": 1,
                    "topic": 1,
                    "title": "Mau nanya tentang refund",
                    "status": 2,
                    "status_at": 1506391509,
                    "ends_at": 1506358800,
                    "created_at": 1506358800,
                    "updated_at": null
                }
            ]
        }

### Get [GET /users/resolutions/{id}]

+ Parameters
    + id: 50 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Resolution Data",
            "data": {
                "id": 50,
                "user_id": 59,
                "ticket_number": "RS-0050",
                "priority": 1,
                "topic": 1,
                "title": "Mau nanya tentang refund",
                "status": 2,
                "status_at": 1506391509,
                "ends_at": 1506358800,
                "created_at": 1506358800,
                "updated_at": null,
                "discussions": [
                    {
                        "name": "safe",
                        "message": "Ini nih refund ku kok lorem ipsum ya, coba di cek lagi",
                        "created_at": 1506416709
                    }
                ],
                "images": []
            }
        }

### Create [POST /users/resolutions]

+ Request (application/json)

        {
            "priority": 1,
            "topic": 1,
            "title": "Mau nanya tentang refund",
            "message": "Ini nih refund ku kok lorem ipsum ya, coba di cek lagi",
            "images": [
                {
                    "name": "refund.jpg"
                }
            ]
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 60,
                "user_id": 59,
                "ticket_number": "RS-0060",
                "priority": 1,
                "topic": 1,
                "title": "Mau nanya tentang refund",
                "status": 2,
                "status_at": 1507599882,
                "ends_at": 1507599882,
                "created_at": 1507599882,
                "updated_at": null
            }
        }

### Reply [POST /users/resolutions/{id}]

+ Parameters
    + id: 60 (number, required)

+ Request (application/json)

        {
            "message": "Iya mas refund nya belum lorem ipsum e. piye ki"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Resolution Data",
            "data": {
                "id": 60,
                "user_id": 59,
                "ticket_number": "RS-0060",
                "priority": 1,
                "topic": 1,
                "title": "Mau nanya tentang refund",
                "status": 2,
                "status_at": 1507574682,
                "ends_at": 1507568400,
                "created_at": 1507568400,
                "updated_at": 1507600062,
                "discussions": [
                    {
                        "name": "safe",
                        "message": "Ini nih refund ku kok lorem ipsum ya, coba di cek lagi",
                        "created_at": 1507599882
                    },
                    {
                        "name": "safe",
                        "message": "Iya mas refund nya belum lorem ipsum e. piye ki",
                        "created_at": 1507600062
                    }
                ],
                "images": [
                    {
                        "id": 25,
                        "parent_id": 60,
                        "image": "https://komutodev.aptmi.com/uploads/resolution/refund.jpg",
                        "group": "resolusi"
                    }
                ]
            }
        }

## Transaction [/transactions]

### List [GET /transactions]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Transactions Data",
            "meta": {
                "page": 1,
                "limit": 10
            },
            "data": [
                {
                    "bucket": {
                        "id": 489,
                        "user_id": 59,
                        "marketplace_id": null,
                        "promo_id": null,
                        "promo": null,
                        "payment_method_id": null,
                        "unique_code": 112,
                        "total_bill": 1664112,
                        "order_at": 1507222800,
                        "wallet": 0,
                        "platform": "pwa",
                        "status": 3,
                        "status_at": 1507222800
                    },
                    "summary_transaction": {
                        "total_price": 1664000,
                        "time_left": {
                            "days": 0,
                            "hours": 0,
                            "minutes": 0,
                            "seconds": 0
                        }
                    },
                    "products": [
                        {
                            "id": 282,
                            "name": "sepatu emas",
                            "slug": "sepatu-emas",
                            "price": 1650000,
                            "discount": 0,
                            "is_discount": false,
                            "is_wholesaler": false,
                            "is_dropship": false,
                            "weight": 500,
                            "stock": 48,
                            "image": "https://komutodev.aptmi.com/uploads/produk/kucing.png"
                        }
                    ]
                }
            ]
        }

### Get [GET /transactions/{id}]

+ Parameters
    + id: 489 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Transaction Data",
            "data": {
                "bucket": {
                    "id": 489,
                    "user_id": 59,
                    "marketplace_id": null,
                    "promo_id": null,
                    "promo": null,
                    "payment_method_id": null,
                    "unique_code": 112,
                    "total_bill": 1664112,
                    "order_at": 1507222800,
                    "wallet": 0,
                    "platform": "pwa",
                    "status": 3,
                    "status_at": 1507222800
                },
                "summary_transaction": {
                    "total_price": 1664000,
                    "time_left": {
                        "days": 0,
                        "hours": 0,
                        "minutes": 0,
                        "seconds": 0
                    }
                },
                "invoices": [
                    {
                        "id": 397,
                        "payment_method_id": null,
                        "store_id": 41,
                        "store": {
                            "id": 41,
                            "name": "Toko Kain Jaya",
                            "logo": "https://komutodev.aptmi.com/uploads/toko/eb4f4148d8b6699d49e48b084310893df292c27a_IMG_0210.jpg"
                        },
                        "shipping": {
                            "id": 609,
                            "delivery_cost": 14000,
                            "insurance_fee": 0,
                            "is_insurance": false,
                            "address": {
                                "id": 422,
                                "postal_code": "57782",
                                "address": "Jl. Matesih No. 12 RT. 004 RW. 001",
                                "name": "Safei Muslim",
                                "email": "safei@skyshi.com",
                                "phone_number": "082329230000",
                                "alias_address": "Rumah kamu",
                                "is_primary_address": false,
                                "is_sale_address": false,
                                "is_tender_address": false,
                                "is_checked": false
                            },
                            "expedition_service": {
                                "id": 1,
                                "name": "REG",
                                "description": "JNE Reguler adalahpaket reguler yang ditawarkan JNE. Kecepatanpengiriman tergantung dari lokasi pengiriman dan tujuan. untuk kota yang sama umumnya memakan waku 2-3 hari",
                                "logo": null,
                                "is_checked": false,
                                "expedition": {
                                    "id": 2,
                                    "name": "JNE",
                                    "logo": "https://komutodev.aptmi.com/img/pengiriman/jne.png",
                                    "insurance_fee": 2,
                                    "is_checked": false
                                }
                            },
                            "note": null,
                            "seller_note": null,
                            "airway_bill": null,
                            "sender_status": 1,
                            "sender_status_at": null,
                            "sender_status_expired_at": null,
                            "receiver_status": 1,
                            "receiver_status_at": null,
                            "receiver_status_expired_at": null
                        },
                        "invoice_number": "Invoice-1024777118/10/2017",
                        "total_bill": 1664000,
                        "total_price": 1664000,
                        "status": 0,
                        "transaction_status": null,
                        "created_at": 1507222800,
                        "items": [
                            {
                                "id": 765,
                                "qty": 1,
                                "weight": 500,
                                "additional_cost": 0,
                                "total_price": 1664000,
                                "product": {
                                    "id": 282,
                                    "name": "sepatu emas",
                                    "slug": "sepatu-emas",
                                    "price": 1650000,
                                    "discount": 0,
                                    "is_discount": false,
                                    "is_wholesaler": false,
                                    "is_dropship": false,
                                    "weight": 500,
                                    "stock": 48,
                                    "image": "https://komutodev.aptmi.com/uploads/produk/kambing.png"
                                }
                            }
                        ]
                    }
                ]
            }
        }

### Get Invoice [GET /transactions/{id}/invoices/{invoiceId}]

+ Parameters
    + id: 489 (number, required)
    + invoiceId: 397 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Invoice Data",
            "data": {
                "id": 397,
                "payment_method_id": null,
                "store_id": 41,
                "store": {
                    "id": 41,
                    "name": "Toko Kain Jaya",
                    "logo": "https://komutodev.aptmi.com/uploads/toko/eb4f4148d8b6699d49e48b084310893df292c27a_IMG_0210.jpg"
                },
                "shipping": {
                    "id": 609,
                    "delivery_cost": 14000,
                    "insurance_fee": 0,
                    "is_insurance": false,
                    "address": {
                        "id": 422,
                        "postal_code": "57782",
                        "address": "Jl. Matesih No. 12 RT. 004 RW. 001",
                        "name": "Safei Muslim",
                        "email": "safei@skyshi.com",
                        "phone_number": "082329230000",
                        "alias_address": "Rumah kamu",
                        "is_primary_address": false,
                        "is_sale_address": false,
                        "is_tender_address": false,
                        "is_checked": false
                    },
                    "expedition_service": {
                        "id": 1,
                        "name": "REG",
                        "description": "JNE Reguler adalahpaket reguler yang ditawarkan JNE. Kecepatanpengiriman tergantung dari lokasi pengiriman dan tujuan. untuk kota yang sama umumnya memakan waku 2-3 hari",
                        "logo": null,
                        "is_checked": false,
                        "expedition": {
                            "id": 2,
                            "name": "JNE",
                            "logo": "https://komutodev.aptmi.com/img/pengiriman/jne.png",
                            "insurance_fee": 2,
                            "is_checked": false
                        }
                    },
                    "note": null,
                    "seller_note": null,
                    "airway_bill": null,
                    "sender_status": 1,
                    "sender_status_at": null,
                    "sender_status_expired_at": null,
                    "receiver_status": 1,
                    "receiver_status_at": null,
                    "receiver_status_expired_at": null
                },
                "invoice_number": "Invoice-1024777118/10/2017",
                "total_bill": 1664000,
                "total_price": 1664000,
                "status": 0,
                "transaction_status": null,
                "created_at": 1507222800,
                "user_id": 59,
                "bucket_id": 489,
                "bid_id": null,
                "shipping_id": 609,
                "remark_cancel": null,
                "delivery_cost": 14000,
                "insurance_fee": 0,
                "admin_cost": 0,
                "wallet": 0,
                "promo": 0,
                "updated_at": 1507262402,
                "items": [
                    {
                        "id": 765,
                        "qty": 1,
                        "weight": 500,
                        "additional_cost": 0,
                        "total_price": 1664000,
                        "note": "",
                        "bucket_id": 489,
                        "product_id": 282,
                        "product": {
                            "id": 282.41,
                            "name": "sepatu emas",
                            "slug": "sepatu-emas",
                            "price": 1650000,
                            "discount": 0,
                            "is_discount": false,
                            "is_wholesaler": false,
                            "is_dropship": false,
                            "weight": 500,
                            "stock": 48,
                            "image": "https://komutodev.aptmi.com/uploads/produk/kambing.png"
                        },
                        "invoice_id": "397",
                        "shipping_id": 609,
                        "dropshipper_id": null,
                        "review_id": null
                    }
                ],
                "dispute": null
            }
        }

### Bulk Review [POST /transactions/{id}/invoices/{invoiceId}]

+ Parameters
    + id: 489 (number, required)
    + invoiceId: 397 (number, required)

+ Request (application/json)

        [
            {
                "product_id": 2.41,
                "review": "Mantap gan barangnya",
                "quality": 5,
                "accuracy": 5
            }
        ]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Reviews Data",
            "data": [
                {
                    "id": 156,
                    "review": "Mantap gan barangnya",
                    "quality": 5,
                    "accuracy": 5,
                    "created_at": 1507602868
                }
            ]
        }

### Dispute [POST /transactions/{id}/invoices/{invoiceId}/dispute]

+ Parameters
    + id: 489 (number, required)
    + invoiceId: 397 (number, required)

+ Request (application/json)

        {
            "products": [282.41],
            "problems": [1, 2, 3],
            "solution": 1,
            "note": "Saya ingin refund dana saja. takutnya kalo tukar barang nanti sama saja",
            "images": [
                {
                    "name": "refund.jpg"
                }
            ]
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 37,
                "user_id": 59,
                "store_id": 41,
                "invoice_id": 397,
                "solution": 1,
                "problems": "Barang tidak sesuai deskripsi, Barang rusak, Produk tidak lengkap",
                "note": "Saya ingin refund dana saja. takutnya kalo tukar barang nanti sama saja",
                "dispute_number": "4187-10/10/2017",
                "status": 1,
                "response_status": 0,
                "response_at": 1507608792,
                "created_at": 1507608792
            }
        }

### Midtrans Snap Token [GET /transactions/{id}/token?platform={platform}]

+ Parameters
    + id: 489 (number, required)
    + platform: pwa (string, required)

+ Request (application/json)

        {
            "products": [282.41],
            "problems": [1, 2, 3],
            "solution": 1,
            "note": "Saya ingin refund dana saja. takutnya kalo tukar barang nanti sama saja",
            "images": [
                {
                    "name": "refund.jpg"
                }
            ]
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Snap Token",
            "data": {
                "token": "fe1dc869-22b2-4149-8ecb-bb4a33266190",
                "redirect_url": "https://app.midtrans.com/snap/v2/vtweb/fe1dc869-22b2-4149-8ecb-bb4a33266190"
            }
        }

### Balance Payment [PUT /transactions/{id}/balance-payment]

+ Parameters
    + id: 489 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

## Product [/products]

### Create [POST /products]

+ Request (application/json)

        {
            "name": "Sepatu Lari Nike Orange",
            "category_id": 2,
            "brand_id": 1,
            "description": "lorem ipsum",
            "price": 1650000,
            "weight": 500,
            "stock": 50,
            "condition": "1",
            "insurance": "0",
            "is_dropship": true,
            "catalog_id": 1,
            "wholesales": [
                {
                    "min_order": 5,
                    "max_order": 10,
                    "price": 1500000
                },
                {
                    "min_order": 11,
                    "max_order": 15,
                    "price": 1200000
                }
            ],
            "expeditions": [
                {
                    "expedition_service_id": 1
                },
                {
                    "expedition_service_id": 2
                }
            ],
            "images": [
                {
                    "image": "image.png"
                }
            ]
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Get [GET /products/{id}]

+ Parameters
    + id: 76.28 (decimal, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Product Detail Data",
            "data": {
                "product": {
                    "id": 76.28,
                    "name": "GoPro 5",
                    "slug": "gopro-5",
                    "stock": 100,
                    "weight": 1,
                    "type": "Camera",
                    "description": "Lorem ipsum",
                    "price": 5000000,
                    "status": 1,
                    "insurance": "Lorem",
                    "discount": 10,
                    "created_at": 1496710635,
                    "status_at": 1496710635,
                    "attrval": "0",
                    "margin_dropshipper": 0,
                    "is_dropshipper": true,
                    "is_grosir": false,
                    "count_sold": 0,
                    "count_popular": 0,
                    "count_review": 58,
                    "count_view": 0,
                    "count_discussion": 278,
                    "count_like": 1,
                    "is_liked": true,
                    "identifier_brand": 0,
                    "identifier_catalog": 32
                },
                "category": {
                    "id": 1,
                    "category_id": 4,
                    "icon": "icon.png",
                    "name": "Camera"
                },
                "store": {
                    "id": 1,
                    "user_id": 4,
                    "name": "Sports Station",
                    "slogan": "Semua harus keren",
                    "description": "Menjual semua jenis baju yang keren",
                    "logo": "https://thumb1.shutterstock.com/display_pic_with_logo/2710867/549356473/stock-vector-store-icon-shop-icon-flat-design-vector-illustration-549356473.jpg",
                    "custom_domain": ".com",
                    "created_at": 1496710635,
                    "status": 1,
                    "remarks_status": "",
                    "status_at": 1496710635,
                    "cover_image": "https://thumb1.shutterstock.com/display_pic_with_logo/2710867/549356473/stock-vector-store-icon-shop-icon-flat-design-vector-illustration-549356473.jpg",
                    "seller_theme_id": 2,
                    "reputation": 23,
                    "store_id_number": "3404092309880001",
                    "total_favorite": 40,
                    "verification_at": 1496710635,
                    "note": "lorem ipsum",
                    "count_review": 15,
                    "start_at": 1496710635,
                    "end_at": 1496710635,
                    "province": {
                        "id": 1,
                        "name": "Yogyakarta"
                    }
                },
                "images": [
                    {
                        "id": 1,
                        "product_id": 1,
                        "file": "picture.png",
                        "created_at": 1496710635,
                        "updated_at": 1496710635
                    }
                ],
                "reviews": [
                    {
                        "id": 1,
                        "user": {
                            "id": 2,
                            "name": "Budi Budiman",
                            "photo": "http://www.look4fitness.net/images/no_user_logo.png"
                        },
                        "review": "Pengemasannya bagus, pengiriman cepat,barang sesuai, recommended bgt lah",
                        "quality": 5,
                        "accuracy": 3,
                        "created_at": 1496710635
                    },
                    {
                        "id": 1,
                        "user": {
                            "id": 3,
                            "name": "Jonathan Hope",
                            "photo": "http://www.look4fitness.net/images/no_user_logo.png"
                        },
                        "review": "Lorem ipsum",
                        "quality": 5,
                        "accuracy": 3,
                        "created_at": 1496710635
                    }
                ],
                "rating": {
                    "quality": 4,
                    "accuracy": 3
                },
                "wholesaler": [
                    {
                        "id": 1,
                        "min": 5,
                        "max": 10,
                        "price": 10000
                    }
                ],
                "other_products": [
                    {
                        "id": 1,
                        "name": "Kue Putu Ayu Kas Demak",
                        "price": 5000,
                        "discount": 0,
                        "is_discount": false,
                        "count_like": 1,
                        "is_liked": true,
                        "image": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg"
                    },
                    {
                        "id": 2,
                        "name": "Kue Putu Ayu Kas Demak",
                        "price": 5000,
                        "discount": 0,
                        "is_discount": false,
                        "count_like": 1,
                        "is_liked": true,
                        "image": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg"
                    },
                    {
                        "id": 3,
                        "name": "Kue Putu Ayu Kas Demak",
                        "price": 5000,
                        "discount": 0,
                        "is_discount": false,
                        "count_like": 1,
                        "is_liked": true,
                        "image": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg"
                    }
                ],
                "expeditions": [
                    {
                        "id": 1,
                        "name": "TIKI",
                        "logo": "http://188.166.246.46/img/pengiriman/tiki.png",
                        "insurance_fee": 2
                    }
                ]
            }
        }

### List [GET /products?q={query}&page={page}&limit={limit}&sort={sort}&price={price}&condition={condition}&other={other}&brands={brands}&services={services}&address={address}]

+ Parameters
    + query: "sepatu lari" (string)
    + page: 2 (number)
    + limit: 10 (number)
    + sort: "newest" (string)
    + price: "1000-10000" (string)
    + condition: "new" (string)
    + other: "discount" (string)
    + brands: "1,2,3" (string)
    + services: "1,2,3" (string)
    + address: 1 (number)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Product List Data",
            "meta": {
                "page": 2,
                "limit": 10
            },
            "data": [
                {
                    "product": {
                        "id": 23.41,
                        "category_id": 30,
                        "store_id": 14,
                        "name": "Marketing for Dummies book",
                        "stock": 100,
                        "weight": 1,
                        "type": 1,
                        "description": "Buku ya buat belajar",
                        "price": 1500,
                        "attrval": 0,
                        "status": 1,
                        "insurance": 0,
                        "discount": 0,
                        "margin_dropshipper": null,
                        "is_dropshipper": false,
                        "is_wholesaler": false,
                        "is_discount": false,
                        "count_sold": 0,
                        "count_popular": 0,
                        "identifier_brand": null,
                        "identifier_catalog": null,
                        "status_at": 1471211789,
                        "created_at": 1471194000,
                        "image": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg"
                    },
                    "store": {
                        "id": 14,
                        "user_id": 43,
                        "name": "WEARFINE",
                        "slogan": "Kalo kita wear harus yang fine",
                        "description": "Berani belanja HEBAT!",
                        "logo": "5ffb2f2660a04eb964dc0251a61834a4d10a6c8a_Logo wearfine 2.jpg",
                        "custom_domain": "",
                        "status": 1,
                        "remarks_status": null,
                        "cover_image": "c39d5b00be92763fffe14846922e7bd6cba061e6_tumblr-background-vintage-flower.jpg",
                        "seller_theme_id": 0,
                        "reputation": null,
                        "store_id_number": "3276021410870015",
                        "total_favorite": null,
                        "created_at": 1471194000,
                        "status_at": 1471209324,
                        "verification_at": 1499051147,
                        "is_verified": true,
                        "start_at": null,
                        "end_at": null
                    }
                }
            ]
        }

### Search [GET /products/search?q={query}]

+ Parameters
    + query: "sepatu lari" (string)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Product List Data",
            "data": [
                {
                    "name": "Sepatu lari dari"
                },
                {
                    "name": "Sepatu lari dari kenyataan"
                }
            ]
        }

### Add to wishlist [GET /products/{id}/wishlist]

+ Parameters
    + id: 1.28 (decimal, required)

+ Response 200 (application/json)

        {
              "code": 200,
              "status": true,
              "message": "Success",
              "data": {}
        }
        
### Get Discussions [GET /products/{id}/discussions]

+ Parameters
    + id: 1.28 (decimal, required)
    
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Product Discussion Data",
            "meta": {
                "page": 1,
                "limit": 10
            },
            "data": [
                {
                    "id": 2,
                    "user": {
                        "id": 100,
                        "name": "Akmal Gumilar",
                        "photo": "http://188.166.246.46/uploads/user/100_14770314462dba9b2d116.jpg",
                        "gender": "male",
                        "place_of_birth": 3275,
                        "date_of_birth": 604861200
                    },
                    "question": "barangnya ready gan?",
                    "created_at": 1477627049,
                    "count_comments": 0
                }
            ]
        }
        
### Get Discussion Comments [GET /discussions/{discussion_id}/comments]

+ Parameters
    + discussion_id: 2 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Discussion Comments Data",
            "meta": {
                "page": 1,
                "limit": 10
            },
            "data": [
                {
                    "id": 4,
                    "user": {
                        "id": 3,
                        "name": "Afifur Rahman",
                        "photo": "http://188.166.246.46/uploads/user/3_1496110091dcbc8f63b06c8.jpeg",
                        "gender": "male",
                        "place_of_birth": 3321,
                        "date_of_birth": 652899600
                    },
                    "content": "rem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).",
                    "created_at": 1496091123
                },
                {
                    "id": 3,
                    "user": {
                        "id": 3,
                        "name": "Afifur Rahman",
                        "photo": "http://188.166.246.46/uploads/user/3_1496110091dcbc8f63b06c8.jpeg",
                        "gender": "male",
                        "place_of_birth": 3321,
                        "date_of_birth": 652899600
                    },
                    "content": "barang saya kok belum sampai ya ?",
                    "created_at": 1496090500
                }
            ]
        }

### Report [POST /products/{id}/report]

+ Parameters
    + id: 1 (number, required)

+ Request (application/json)

        {
            "report_type": 1,
            "description": "Salah katalog nih"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 2,
                "product_id": 1,
                "user_id": 50,
                "type": 1,
                "description": "Salah katalog nih"
            }
        }

### Create Dropship [POST /products/{id}/dropship]

+ parameters
    + id: 121.8 (decimal, required)

+ Request (application/json)

        {
            "catalog_id": 1
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Dropship Data",
            "data": {
                "id": 5,
                "product_id": 1,
                "catalog_id": 78,
                "store_id": 41,
                "status": 1,
                "status_at": 1500364537,
                "created_at": 1500364537
            }
        }

### Delete Dropship [DELETE /products/{id}/dropship]

+ parameters
    + id: 121 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Hide Products [POST /users/products/hides]

+ Request (application/json)

        {
            "product_ids": [1, 2, 3] 
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Move Catalog Products [POST /users/store/products/move-catalog]

+ Request (application/json)

        {
            "catalog_id": 2,
            "product_ids": [1, 2, 3] 
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Update Status Dropship [POST /users/store/products/dropships]

+ Request (application/json)

        {
            "product_ids": [1, 2, 3] 
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Delete Products [POST /users/store/products]

+ Request (application/json)

        {
            "product_ids": [1, 2, 3] 
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Get Store Product [GET /users/store/products/{id}]

+ Parameters
    + id: 80 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Product Detail Data",
            "data": {
                "product": {
                    "id": 80,
                    "name": "asdasd",
                    "slug": "asdasd",
                    "price": 1650000,
                    "discount": 100,
                    "is_discount": true,
                    "is_wholesaler": true,
                    "is_dropshipper": true,
                    "weight": 500,
                    "stock": 50,
                    "category_id": 63,
                    "store_id": 28,
                    "condition": 1,
                    "description": "lorem ipsum",
                    "attrval": 0,
                    "status": 1,
                    "is_insurance": false,
                    "margin_dropshipper": null,
                    "is_dropship": true,
                    "count_sold": 0,
                    "count_popular": 0,
                    "count_view": 0,
                    "identifier_brand": 1,
                    "identifier_catalog": 124,
                    "status_at": 1502778680,
                    "created_at": 1502730000
                },
                "category": {
                    "id": 63,
                    "parent_id": 62,
                    "icon": "http://188.166.246.46/images/img-kategori/default.png",
                    "name": "Sneakers Pria",
                    "slug": "sneakers-pria"
                },
                "images": [
                    {
                        "id": 428,
                        "product_id": 80,
                        "file": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg",
                        "created_at": 1503618116,
                        "updated_at": 1503618116
                    },
                    {
                        "id": 427,
                        "product_id": 80,
                        "file": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg",
                        "created_at": 1503618116,
                        "updated_at": 1503618116
                    }
                ],
                "wholesaler": [
                    {
                        "id": 74,
                        "min": 20,
                        "max": 30,
                        "price": 120000
                    },
                    {
                        "id": 75,
                        "min": 20,
                        "max": 30,
                        "price": 120000
                    }
                ],
                "catalog": {
                    "id": 124,
                    "store_id": 28,
                    "name": "Batik Jamur",
                    "count_product": null,
                    "created_at": 1501857724
                },
                "brand": null,
                "expedition_services": [
                    "JNE REG",
                    "JNE YES"
                ]
            }
        }

### Update Store Product [PUT /users/store/products/{id}]

+ Parameters
    + id: 80 (number, required)
    
+ Request

        {
            "name": "Dropship nih",
            "category_id": 63,
            "brand_id": 1,
            "description": "lorem ipsum",
            "price": 1650000,
            "weight": 500,
            "stock": 50,
            "condition": 1,
            "is_insurance": false,
            "is_dropship": false,
            "catalog_id": 124,
            "is_wholesaler": true,
            "discount": 0,
            "wholesales": [
                {
                    "id": 67,
                    "min_order": 5,
                    "max_order": 10,
                    "price": 1500000,
                    "is_deleted": true
                },
                {
                    "id": 68,
                    "min_order": 11,
                    "max_order": 20,
                    "price": 1200000,
                    "is_deleted": false
                },
                {
                    "id": 0,
                    "min_order": 20,
                    "max_order": 30,
                    "price": 120000,
                    "is_created": true
                }
            ],
            "expeditions": [
                {
                    "expedition_service_id": 1,
                    "status": 1
                },
                {
                    "expedition_service_id": 2,
                    "status": 1
                },
                {
                    "expedition_service_id": 3,
                    "status": 2
                }
            ],
            "images": [
                {
                    "name": "kucing.png"
                },
                {
                    "name": "kambing.png"
                }
            ]
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Product Data",
            "data": {
                "id": 80,
                "name": "Dropship nih",
                "slug": "dropship-nih",
                "price": 1650000,
                "discount": 0,
                "is_discount": false,
                "is_wholesaler": true,
                "is_dropshipper": false,
                "weight": 500,
                "stock": 50,
                "category_id": 63,
                "store_id": 28,
                "condition": 1,
                "description": "lorem ipsum",
                "attrval": 0,
                "status": 1,
                "is_insurance": false,
                "margin_dropshipper": null,
                "is_dropship": false,
                "count_sold": 0,
                "count_popular": 0,
                "count_view": 0,
                "identifier_brand": 1,
                "identifier_catalog": 124,
                "status_at": 1502778680,
                "created_at": 1502730000
            }
        }

### Product Expeditions Manage [GET /users/store/products/{id}/expeditions/manage]

+ Parameters
    + id: 76 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Product Expeditions Manage Data",
            "data": [
                {
                    "id": 2,
                    "name": "JNE",
                    "logo": "http://188.166.246.46/img/pengiriman/jne.png",
                    "insurance_fee": 2,
                    "is_checked": false,
                    "status": 1,
                    "method": 1,
                    "status_at": 1466528400,
                    "services": [
                        {
                            "id": 1,
                            "name": "REG",
                            "description": "JNE Reguler adalahpaket reguler yang ditawarkan JNE. Kecepatanpengiriman tergantung dari lokasi pengiriman dan tujuan. untuk kota yang sama umumnya memakan waku 2-3 hari",
                            "logo": null,
                            "is_checked": true,
                            "expedition": {
                                "id": 2,
                                "name": "JNE",
                                "logo": "http://188.166.246.46/img/pengiriman/jne.png",
                                "insurance_fee": 2,
                                "is_checked": false,
                                "status": 1,
                                "method": 1,
                                "status_at": 1466528400
                            },
                            "is_active": true
                        },
                        {
                            "id": 2,
                            "name": "YES",
                            "description": "JNE YES adalah Paket dengan prioritas pengiriman tercepat yang ditawarkan JNE. Hanya saja perlu diperhatikan kecepatan barang dipengaruhi kecepatan penjual melakukan pengiriman barang.",
                            "logo": null,
                            "is_checked": true,
                            "expedition": {
                                "id": 2,
                                "name": "JNE",
                                "logo": "http://188.166.246.46/img/pengiriman/jne.png",
                                "insurance_fee": 2,
                                "is_checked": false,
                                "status": 1,
                                "method": 1,
                                "status_at": 1466528400
                            },
                            "is_active": true
                        }
                    ]
                }
            ]
        }

### List Dropship [GET /products/dropship]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Products Data",
            "meta": {
                "page": 1,
                "limit": 10
            },
            "data": [
                {
                    "product": {
                        "id": 287.41,
                        "name": "esia dakwah",
                        "slug": "esia-dakwah",
                        "price": 0,
                        "discount": 0,
                        "is_discount": false,
                        "is_wholesaler": true,
                        "is_dropship": false,
                        "weight": 500,
                        "stock": 50,
                        "image": "https://komutodev.aptmi.com/uploads/produk/kucing.png",
                        "category_id": 63,
                        "store_id": 41,
                        "condition": 1,
                        "description": "lorem ipsum",
                        "attrval": 0,
                        "status": 1,
                        "is_insurance": false,
                        "margin_dropshipper": null,
                        "count_sold": 0,
                        "count_popular": 0,
                        "count_view": 1,
                        "brand_id": 1,
                        "catalog_id": 34,
                        "status_at": 1507591380,
                        "created_at": 1507568400,
                        "count_like": 0,
                        "is_liked": false,
                        "commission": 0.5
                    },
                    "store": {
                        "id": 41,
                        "name": "Toko Kain Jaya",
                        "logo": "https://komutodev.aptmi.com/uploads/toko/eb4f4148d8b6699d49e48b084310893df292c27a_IMG_0210.jpg",
                        "user_id": 50,
                        "slogan": "Kain apa aja ada disini..",
                        "description": "Menyediakan berbagai jenis kain, baik kain batik,kain katun, tenun maupun songket.\r\nMenyediakan barang yang berkualitas adalah kewajiban kami..",
                        "custom_domain": "",
                        "status": 1,
                        "remarks_status": null,
                        "cover_image": "https://komutodev.aptmi.com/uploads/toko/f95f6876f3ba48e420902194a177c14ace716c23_2.jpg",
                        "seller_theme_id": 0,
                        "reputation": null,
                        "store_id_number": "32878927389768",
                        "total_favorite": null,
                        "term_condition": "ini toko ya gan?",
                        "created_at": 1476982800,
                        "status_at": 1476993366,
[...]
