FORMAT: 1A
HOST: https://api.komuto.skyshi.com/

# Komuto

Komuto API

## User Collection [/users]

### Login [POST /users/login]
Ready

+ Request (application/json)

        {
            "email": "admin@komuto.com",
            "password": "admin"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Data",
            "data": {
                "id": 66,
                "marketplace_id": 0,
                "name": "User skyshi",
                "email": "user@skyshi.com",
                "cooperative_member_number": "ALSK83929K",
                "approval_cooperative_status": "0",
                "photo": "http://www.look4fitness.net/images/no_user_logo.png",
                "phone_number": "081222333444",
                "gender": "female",
                "status": 1,
                "mother_name": "Siti Aminah",
                "auth_key": "12345678",
                "saldo_wallet": "500000",
                "place_of_birth": "Yogyakarta",
                "date_of_birth": 1496710635,
                "created_at": 1496710635,
                "join_at": 1496710635,
                "status_at": 1496710635,
                "provider_name": "facebook",
                "provider_uid": "1234567891234",
                "is_phone_verified": false,
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE0OTY2MjM2MTJ9.flFtOxurZF_wU15OPoPkjBzqe7mn__7jPUYcLTglMe0"
            }
        }

### Login Social [POST /users/social-login]
Ready

+ Request (application/json)

        {
            "provider_name": "Facebook",
            "provider_uid": "12345678",
            "access_token": "EAAViKAqZCMswBAM1UqlZBZAFRd6OyX0C5b9VpVU0mO0dKWduiZBRC2BqJ3wvHyKkJqUz53IUkr0RBByiFtWWRFcBtV3ZBUA8vSQCnbVvD76vTzuF75YtixmN5K0v00eN0u5DHfGGasSzUYWAOKYfkXglmL4DMMZB8aspE5bqN57h2sNO5CT8Nwhmz7kfbgZCBIZD"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Data",
            "data": {
                "id": 66,
                "marketplace_id": 0,
                "name": "User skyshi",
                "email": "user@skyshi.com",
                "cooperative_member_number": "ALSK83929K",
                "approval_cooperative_status": "0",
                "photo": "http://www.look4fitness.net/images/no_user_logo.png",
                "phone_number": "081222333444",
                "gender": "female",
                "status": 1,
                "mother_name": "Siti Aminah",
                "auth_key": "12345678",
                "saldo_wallet": "500000",
                "place_of_birth": "Yogyakarta",
                "date_of_birth": 1496710635,
                "created_at": 1496710635,
                "join_at": 1496710635,
                "status_at": 1496710635,
                "provider_name": "facebook",
                "provider_uid": "1234567891234",
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE0OTY2MjM2MTJ9.flFtOxurZF_wU15OPoPkjBzqe7mn__7jPUYcLTglMe0",
                "is_required_password": true
            }
        }

### Registration [POST]
Ready

+ Request (application/json)

        {
            "name": "User Skyshi",
            "phone_number": "081222333444",
            "email": "user@skyshi.com",
            "gender": "male",
            "password": "123456"
        }

+ Response 201 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Data",
            "data": {
                "id": 66,
                "marketplace_id": 0,
                "name": "User skyshi",
                "email": "user@skyshi.com",
                "cooperative_member_number": "ALSK83929K",
                "approval_cooperative_status": "0",
                "photo": "http://media.tcc.fl.edu/webcourses/ctll/Developing_Your_Teaching_Philosophy/examples.jpg",
                "phone_number": "081222333444",
                "gender": "female",
                "status": 1,
                "mother_name": "Siti Aminah",
                "auth_key": "12345678",
                "saldo_wallet": "500000",
                "place_of_birth": "Yogyakarta",
                "date_of_birth": 1496710635,
                "created_at": 1496710635,
                "join_at": 1496710635,
                "status_at": 1496710635
            }
        }

### Activate Account [GET /signup-verification?token={token}]
Ready

+ Parameters
    + token: 31540cf0b21cd8513d3dbc7192d8cad1 (string, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Update [PUT /users]
Ready

+ Request (application/json)

    Data about user being updated. With following attributes are:

    + `name` (optional) ... product id
    + `email` (optional) ... store id
    + `cooperative_member_number` (optional) ... user id
    + `photo` (optional)
    + `phone_number` (optional)
    + `gender` (optional)
    + `mother_name` (optional)
    + `place_of_birth` (optional)
    + `date_of_birth` (optional)

    + Body

            {
                "name": "User skyshi",
                "email": "user@skyshi.com",
                "cooperative_member_number": "ALSK83929K",
                "photo": "photo.jpg",
                "phone_number": "081222333444",
                "gender": "female",
                "mother_name": "Siti Aminah",
                "place_of_birth": 1,
                "date_of_birth": 1496710635
            }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Data",
            "data": {
                "id": 66,
                "marketplace_id": 0,
                "name": "User skyshi",
                "email": "user@skyshi.com",
                "cooperative_member_number": "ALSK83929K",
                "approval_cooperative_status": "0",
                "photo": "http://media.tcc.fl.edu/webcourses/ctll/Developing_Your_Teaching_Philosophy/examples.jpg",
                "phone_number": "081222333444",
                "gender": "female",
                "status": 1,
                "mother_name": "Siti Aminah",
                "auth_key": "12345678",
                "saldo_wallet": "500000",
                "place_of_birth": "Yogyakarta",
                "date_of_birth": 1496710635,
                "created_at": 1496710635,
                "join_at": 1496710635,
                "status_at": 1496710635
            }
        }

### Profile [GET /users/profile]
Ready

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Data",
            "data": {
                "user": {
                    "id": 66,
                    "marketplace_id": 0,
                    "name": "User skyshi",
                    "email": "user@skyshi.com",
                    "cooperative_member_number": "ALSK83929K",
                    "approval_cooperative_status": "0",
                    "photo": "http://media.tcc.fl.edu/webcourses/ctll/Developing_Your_Teaching_Philosophy/examples.jpg",
                    "phone_number": "081222333444",
                    "gender": "female",
                    "status": 1,
                    "mother_name": "Siti Aminah",
                    "auth_key": "12345678",
                    "saldo_wallet": 580000,
                    "place_of_birth": "Yogyakarta",
                    "date_of_birth": 1496710635,
                    "created_at": 1496710635,
                    "join_at": 1496710635,
                    "status_at": 1496710635
                },
                "store": {
                    "id": 13,
                    "name": "Baju Keren",
                    "slogan": "Semua harus keren",
                    "description": "Menjual semua jenis baju yang keren",
                    "logo": "https://thumb1.shutterstock.com/display_pic_with_logo/2710867/549356473/stock-vector-store-icon-shop-icon-flat-design-vector-illustration-549356473.jpg",
                    "custom_domain": ".com",
                    "created_at": 1496710635,
                    "status": 1,
                    "remarks_status": "",
                    "status_at": 1496710635,
                    "cover_image": "https://thumb1.shutterstock.com/display_pic_with_logo/2710867/549356473/stock-vector-store-icon-shop-icon-flat-design-vector-illustration-549356473.jpg",
                    "seller_theme_id": 2,
                    "reputation": 23,
                    "store_id_number": "3404092309880001",
                    "total_favorite": 40,
                    "verification_at": 1496710635,
                    "note": "lorem ipsum",
                    "is_verify": false,
                    "start_at": 1496710635,
                    "end_at": 1496710635
                }
            }
        }

### Update Password [PUT /users/password]
Ready

+ Request (application/json)

        {
            "email": "lala@gmail.com",
            "password": "123456",
            "old_password": "654321"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Data",
            "data": {
                "id": 66,
                "marketplace_id": 0,
                "name": "User skyshi",
                "email": "user@skyshi.com",
                "cooperative_member_number": "ALSK83929K",
                "approval_cooperative_status": "0",
                "photo": "http://media.tcc.fl.edu/webcourses/ctll/Developing_Your_Teaching_Philosophy/examples.jpg",
                "phone_number": "081222333444",
                "gender": "female",
                "status": 1,
                "mother_name": "Siti Aminah",
                "auth_key": "12345678",
                "saldo_wallet": "500000",
                "place_of_birth": "Yogyakarta",
                "date_of_birth": 1496710635,
                "created_at": 1496710635,
                "join_at": 1496710635,
                "status_at": 1496710635
            }
        }

### Get Balance [GET /users/balance]
Ready

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Balance Data",
            "data": {
                  "user_balance": 45000
            }
        }

### Get Wishlist [GET /users/wishlist]
Ready

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Product Wishlist Data",
            "data": [
                {
                    "product": {
                        "id": 1,
                        "name": "GoPro 5",
                        "stock": 100,
                        "weight": 1,
                        "type": "Camera",
                        "description": "Lorem ipsum",
                        "price": 5000000,
                        "status": 1,
                        "insurance": "Lorem",
                        "discount": 10,
                        "created_at": 1496710635,
                        "status_at": 1496710635,
                        "attrval": "0",
                        "margin_dropshipper": 0,
                        "is_dropshipper": true,
                        "is_grosir": false,
                        "count_sold": 0,
                        "count_popular": 0,
                        "identifier_brand": 0,
                        "identifier_catalog": 32
                    },
                    "store": {
                        "id": 13,
                        "user_id": 2,
                        "name": "Baju Keren",
                        "slogan": "Semua harus keren",
                        "description": "Menjual semua jenis baju yang keren",
                        "logo": "https://thumb1.shutterstock.com/display_pic_with_logo/2710867/549356473/stock-vector-store-icon-shop-icon-flat-design-vector-illustration-549356473.jpg",
                        "custom_domain": ".com",
                        "created_at": 1496710635,
                        "status": 1,
                        "remarks_status": "",
                        "status_at": 1496710635,
                        "cover_image": "https://thumb1.shutterstock.com/display_pic_with_logo/2710867/549356473/stock-vector-store-icon-shop-icon-flat-design-vector-illustration-549356473.jpg",
                        "seller_theme_id": 2,
                        "reputation": 23,
                        "store_id_number": "3404092309880001",
                        "total_favorite": 40,
                        "verification_at": 1496710635,
                        "note": "lorem ipsum",
                        "count_review": 15,
                        "start_at": 1496710635,
                        "end_at": 1496710635
                    },
                    "images": [
                        {
                            "id": 1,
                            "product_id": 1,
                            "file": "https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full/navara-dept-store_catenzo-kets-black-line-cream-sepatu-pria_full01.jpg",
                            "created_at": 1496710635,
                            "updated_at": 1496710635
                        }
                    ]
                }
            ]
        }

### Get Primary Address Information [GET /users/address]
Ready

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Address Information",
            "data": {
                "id": 1,
                "name": "User skyshi",
                "email": "user@skyshi.com",
                "phone_number": "081222333444",
                "postal_code": "84314",
                "address": "Jl. Klamat No. 24 RT. 002 RW. 003",
                "alias_address": "Alamat Toko",
                "is_primary_address": true,
                "is_sale_address": false,
                "is_tender_address": false,
                "province": {
                    "id": 1,
                    "name": "Yogyakarta"
                },
                "district": {
                    "id": 1,
                    "ro_id": 1,
                    "name": "Sleman"
                },
                "sub_district": {
                    "id": 1,
                    "name": "Ngaglik"
                },
                "village": {
                    "id": 1,
                    "name": "Sariharjo"
                }
            }
        }

### List Address Information [GET /users/addresses]
Ready

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Address Information",
            "data": [
                {
                    "id": 1,
                    "name": "User skyshi",
                    "email": "user@skyshi.com",
                    "phone_number": "081222333444",
                    "postal_code": "84314",
                    "address": "Jl. Klamat No. 24 RT. 002 RW. 003",
                    "alias_address": "Alamat Toko",
                    "is_primary_address": true,
                    "is_sale_address": false,
                    "is_tender_address": false,
                    "province": {
                        "id": 1,
                        "name": "Yogyakarta"
                    },
                    "district": {
                        "id": 1,
                        "ro_id": 1,
                        "name": "Sleman"
                    },
                    "sub_district": {
                        "id": 1,
                        "name": "Ngaglik"
                    },
                    "village": {
                        "id": 1,
                        "name": "Sariharjo"
                    }
                }
            ]
        }

### Create Address Information [POST /users/addresses]
Ready

+ Request (application/json)

        {
            "province_id": 1,
            "district_id": 1,
            "sub_district_id": 1,
            "village_id": 1,
            "name": "User skyshi",
            "email": "user@skyshi.com",
            "phone_number": "081222333444",
            "postal_code": "84314",
            "address": "Jl. Klamat No. 24 RT. 002 RW. 003",
            "alias_address": "Alamat Toko",
            "is_primary": true
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Get Address Information [GET /users/addresses/{id}]
Ready

+ Parameters
    + id: 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 1,
                "name": "User skyshi",
                "email": "user@skyshi.com",
                "phone_number": "081222333444",
                "postal_code": "84314",
                "address": "Jl. Klamat No. 24 RT. 002 RW. 003",
                "alias_address": "Alamat Toko",
                "is_primary_address": true,
                "is_sale_address": false,
                "is_tender_address": false,
                "province": {
                    "id": 1,
                    "name": "Yogyakarta"
                },
                "district": {
                    "id": 1,
                    "ro_id": 1,
                    "name": "Sleman"
                },
                "sub_district": {
                    "id": 1,
                    "name": "Ngaglik"
                },
                "village": {
                    "id": 1,
                    "name": "Sariharjo"
                }
            }
        }

### Update Address Information [PUT /users/addresses/{id}]
Ready

+ Parameters
    + id: 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 1,
                "name": "User skyshi",
                "email": "user@skyshi.com",
                "phone_number": "081222333444",
                "postal_code": "84314",
                "address": "Jl. Klamat No. 24 RT. 002 RW. 003",
                "alias_address": "Alamat Toko",
                "is_primary_address": true,
                "is_sale_address": false,
                "is_tender_address": false,
                "province": {
                    "id": 1,
                    "name": "Yogyakarta"
                },
                "district": {
                    "id": 1,
                    "ro_id": 1,
                    "name": "Sleman"
                },
                "sub_district": {
                    "id": 1,
                    "name": "Ngaglik"
                },
                "village": {
                    "id": 1,
                    "name": "Sariharjo"
                }
            }
        }

### Delete Address Information [DELETE /users/addresses/{id}]
Ready

+ Parameters
    + id: 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Create Store [POST /users/store]
Ready

+ Request (application/json)

        {
            "store": {
                "name": "Toko Makmur Abadi Sejahtera",
                "slogan": "Lorem ipsum",
                "description": "Lorem ipsum",
                "logo": "logo.jpg"
            },
            "expedition_services" : [
                {
                    "expedition_service_id": 1,
                    "status": 1
                },
                {
                    "expedition_service_id": 2,
                    "status": 0
                }
            ],
            "user": {
                "id_number": "0982390923989",
                "mother_name": "Siti Aminah"
            },
            "address": {
                "province_id": 32,
                "district_id": 3273,
                "sub_district_id": 1111110,
                "village_id": 1111110073,
                "name": "User skyshi",
                "email": "user@skyshi.com",
                "phone_number": "081222333444",
                "postal_code": "84314",
                "address": "Jl. Klamat No. 24 RT. 002 RW. 003"
            }
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Store Data",
            "data": {
                "store": {
                    "id": 57,
                    "user_id": 50,
                    "name": "Toko Makmur Abadi Sejahtera",
                    "slogan": "Lorem ipsum",
                    "description": "Lorem ipsum",
                    "logo": "http://188.166.246.46/uploads/toko/logo.jpg",
                    "status": 1,
                    "cover_image": null,
                    "seller_theme_id": 0,
                    "store_id_number": "0982390923989",
                    "created_at": 1499398387,
                    "status_at": 1499398387,
                    "verification_at": null,
                    "is_verified": false,
                    "start_at": null,
                    "end_at": null
                },
                "user": {
                    "marketplace_id": null,
                    "cooperative_member_number": null,
                    "photo": null,
                    "phone_number": null,
                    "gender": "female",
                    "status": null,
                    "mother_name": "Siti Aminah",
                    "auth_key": null,
                    "saldo_wallet": 0,
                    "place_of_birth": null,
                    "date_of_birth": null,
                    "created_at": 1499398387,
                    "join_at": null,
                    "status_at": 1499398387
                },
                "address": {
                    "id": 68,
                    "name": "User skyshi",
                    "email": "user@skyshi.com",
                    "phone_number": "081222333444",
                    "postal_code": "84314",
                    "address": "Jl. Klamat No. 24 RT. 002 RW. 003",
                    "alias_address": "Jl. Klamat No. 24 RT. 002 RW. 003",
                    "is_primary_address": false,
                    "is_sale_address": true,
                    "is_tender_address": false
                },
                "expedition_services": [
                    {
                        "expedition_service_id": 1,
                        "status": 1
                    },
                    {
                        "expedition_service_id": 2,
                        "status": 0
                    }
                ]
            }
        }

### Verify Store [POST /users/store/verify]
Ready

+ Request (application/json)

        {
            "code": "asd09213asdlk"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### List Catalog Store [GET /users/store/catalogs]
Ready

+ Response 201 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Store Catalog Data",
            "data": [
                {
                    "id": 1,
                    "name": "Sepatu Futsal",
                    "count_product": 5
                },
                {
                    "id": 3,
                    "name": "Sepatu Bola",
                    "count_product": 5
                }
            ]
        }

### Create Catalog Store [POST /users/store/catalogs]
Ready

+ Request (application/json)

        {
            "name": "Sepatu Futsal"
        }

+ Response 201 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 80,
                "store_id": 41,
                "name": "Sepatu Futsal",
                "count_product": null,
                "created_at": 1500266952
            }
        }

### Get Catalog Store [GET /users/store/catalogs/{catalog_id}]
Ready

+ Parameters
    + catalog_id: 1 (number, required)

+ Response 201 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 1,
                "store_id": 41,
                "name": "Sepatu Futsal",
                "count_product": null,
                "created_at": 1500266952
            }
        }

### Update Catalog Store [PUT /users/store/catalogs/{catalog_id}]
Ready

+ Parameters
    + catalog_id: 1 (number, required)

+ Request (application/json)

        {
            "name": "Sepatu Bola"
        }

+ Response 201 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Catalog Data",
            "data": {
                "id": 1,
                "store_id": 41,
                "name": "Sepatu Bola",
                "count_product": null,
                "created_at": 1476994034
            }
        }

### Delete Catalog Store [DELETE /users/store/catalogs/{catalog_id}]
Ready

+ Parameters
    + catalog_id: 1 (number, required)

+ Response 201 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### List Expedition [GET /users/store/expeditions]
Ready

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Store Expeditions Data",
            "data": [
                {
                    "id": 7,
                    "name": "PANDU",
                    "status": 1,
                    "method": "1",
                    "status_at": 1471366800,
                    "logo": "http://188.166.246.46/img/pengiriman/pandu.png",
                    "insurance_fee": 2,
                    "services": [
                        {
                            "id": 12,
                            "name": "Reguler",
                            "description": "Paket Reguler adalah paket yang ditawarkan oleh Pandu Logistik yang umumnya memakan waktu 2-3 hari",
                            "logo": null,
                            "is_checked": false
                        }
                    ]
                },
                {
                    "id": 8,
                    "name": "CAHAYA",
                    "status": 1,
                    "method": "1",
                    "status_at": 1471366800,
                    "logo": "http://188.166.246.46/img/pengiriman/cahaya.png",
                    "insurance_fee": 2,
                    "services": [
                        {
                            "id": 13,
                            "name": "Service Normal",
                            "description": "Service Normal adalah Pengiriman paket yang ditawarkan keseluruh Indonesia dengan lead time  pengiriman estimasi 2-3 hari ke kota besar dan 4-7 hari ke pelosok",
                            "logo": null,
                            "is_checked": false
                        }
                    ]
                }
            ]
        }

### List Expedition Manage [GET /users/store/expeditions/manage]
Ready

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Expedition Data",
            "data": [
                {
                    "id": 1,
                    "name": "JNE",
                    "logo": "logo.png",
                    "insurance_fee": 20000,
                    "services": [
                        {
                            "id": 1,
                            "name": "REG",
                            "description": "Layanan reguler",
                            "logo": "logo.png",
                            "status": 1
                        },
                        {
                            "id": 1,
                            "name": "REG",
                            "description": "Layanan reguler",
                            "logo": "logo.png",
                            "status": 0
                        }
                    ]
                },
                {
                    "id": 2,
                    "name": "TIKI",
                    "logo": "logo.png",
                    "insurance_fee": 15000,
                    "services": [
                        {
                            "id": 1,
                            "name": "Service Normal",
                            "description": "Service normal adalah",
                            "logo": "logo.png",
                            "status": 1
                        }
                    ]
                }
            ]
        }

### Update Store Expedition [PUT /users/store/expeditions]
Ready

+ Request (application/json)

        [
            {
                "expedition_service_id": 1,
                "status": 1
            },
            {
                "expedition_service_id": 0,
                "status": 0
            }
        ]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### List Favorite Store [GET /users/store/favorites]
Ready

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Favorite Store",
            "meta": {
                "page": 1,
                "limit": 10,
                "total": 100,
                "pages": 10
            },
            "data": [
                {
                    "store": {
                        "id": 1,
                        "name": "Baju Keren",
                        "province": {
                            "id": 1,
                            "name": "DKI Jakarta"
                        }
                    },
                    "products": [
                        {
                            "id": 1,
                            "name": "Xiaomi Mi Notebook Air 12.5",
                            "price": 5000000,
                            "discount": 10,
                            "image": "https://xiaomi-mi.com/uploads/CatalogueImage/pvm_xiaomi-mi-notebook-air-125-silver-01_14457_1469630599.jpg"
                        }
                    ]
                }
            ]
        }

### Detail Bucket [GET /users/bucket]
Ready

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "user_id": 50,
                "promo": {
                    "id": 0,
                    "marketplace_user_id": 0,
                    "promo_code": "DFLT",
                    "type": 1,
                    "percentage": 10,
                    "nominal": 300000,
                    "start_at": 1464886800,
                    "expired_at": 1467219600,
                    "status": 1,
                    "status_at": 1464886800
                },
                "order_at": 1472749200,
                "admin_fee": 0,
                "total_price": 0,
                "wallet": 0,
                "final_price": 0,
                "payment_method": 1,
                "status": 0,
                "status_at": 1472749200,
                "items": [
                    {
                        "bucket_id": 4,
                        "product_id": 15,
                        "invoice_id": 1,
                        "shipping_id": 1,
                        "dropshipper_id": null,
                        "qty": 1,
                        "weight": 1,
                        "option_information": "test",
                        "delivery_cost": 10000,
                        "additional_cost": 0,
                        "total_price": 1000000,
                        "final_price": 110000,
                        "status": 1,
                        "status_at": 1472804433,
                        "product": {
                            "id": 15,
                            "name": "Hijab Muslimah Unik",
                            "price": 35000,
                            "discount": 0,
                            "is_discount": false,
                            "image": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg",
                            "store": {
                                "id": 11,
                                "user_id": 37,
                                "name": "MikhaShop",
                                "slogan": "Untung Tidak Untung yang Penting Bati",
                                "description": "Jualan segala jenis barang",
                                "logo": "http://188.166.246.46/uploads/toko/3950b781c1196ec84204837cf7895a1f74b77343_DSC00694.jpg",
                                "custom_domain": "",
                                "status": 1,
                                "remarks_status": null,
                                "cover_image": null,
                                "seller_theme_id": 0,
                                "reputation": null,
                                "store_id_number": "53125331263127621",
                                "total_favorite": null,
                                "created_at": 1471194000,
                                "status_at": 1471206816,
                                "is_verified": false
                            }
                        },
                        "shipping": {
                            "id": 1,
                            "delivery_cost": 10000,
                            "insurance_fee": 100000,
                            "note": null,
                            "is_insurance": true,
                            "address": {
                                "id": 29,
                                "name": "Widodo Pangestu",
                                "email": "email@mail.com",
                                "phone_number": "08221613148",
                                "postal_code": "15133",
                                "address": "Jl. Sukabumi E9/28",
                                "alias_address": "My Home",
                                "is_primary_address": false,
                                "is_sale_address": false,
                                "is_tender_address": false
                            },
                            "expedition_service": {
                                "id": 1,
                                "name": "REG",
                                "description": "JNE Reguler adalahpaket reguler yang ditawarkan JNE. Kecepatanpengiriman tergantung dari lokasi pengiriman dan tujuan. untuk kota yang sama umumnya memakan waku 2-3 hari",
                                "logo": null,
                                "expedition": {
                                    "id": 2,
                                    "name": "JNE",
                                    "logo": "http://188.166.246.46/img/pengiriman/jne.png",
                                    "insurance_fee": 2
                                },
                                "is_checked": false
                            }
                        }
                    }
                ]
            }
        }

### Get Discussion [GET /users/discussions]
Ready

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Discussion Data",
            "meta": {
                "page": 1,
                "limit": 10
            },
            "data": [
                {
                    "id": 13,
                    "user_id": 50,
                    "question": "Barang ready gan ?",
                    "created_at": 1500020060,
                    "product": {
                        "id": 4,
                        "name": "Kue Putu Ayu",
                        "slug": "kue-putu-ayu",
                        "price": 2000,
                        "discount": 0,
                        "is_discount": false,
                        "image": null
                    }
                },
                {
                    "id": 6,
                    "user_id": 50,
                    "question": "Barang ready gan ?",
                    "created_at": 1500006654,
                    "product": {
                        "id": 4,
                        "name": "Kue Putu Ayu",
                        "slug": "kue-putu-ayu",
                        "price": 2000,
                        "discount": 0,
                        "is_discount": false,
                        "image": null
                    }
                }
            ]
        }

### Get Store Discussion [GET /users/store/discussions]
Ready

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Discussion Data",
            "meta": {
                "page": 1,
                "limit": 10
            },
            "data": [
                {
                    "id": 13,
                    "user_id": 50,
                    "question": "Barang ready gan ?",
                    "created_at": 1500020060,
                    "product": {
                        "id": 4,
                        "name": "Kue Putu Ayu",
                        "slug": "kue-putu-ayu",
                        "price": 2000,
                        "discount": 0,
                        "is_discount": false,
                        "image": null
                    }
                },
                {
                    "id": 6,
                    "user_id": 50,
                    "question": "Barang ready gan ?",
                    "created_at": 1500006654,
                    "product": {
                        "id": 5,
                        "name": "Kue Putu Ayu",
                        "slug": "kue-putu-ayu",
                        "price": 2000,
                        "discount": 0,
                        "is_discount": false,
                        "image": null
                    }
                }
            ]
        }

### Get Store Products [GET /users/store/products?hidden={hidden}]
Ready

+ Parameters
    + hidden: true (boolean)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Store Products Data",
            "data": [
                {
                    "catalog": {
                        "id": 38,
                        "store_id": 41,
                        "name": "Minuman",
                        "count_product": 1,
                        "created_at": 1477368926
                    },
                    "products": [
                        {
                            "id": 99,
                            "name": "say tea",
                            "slug": "say-tea",
                            "price": 10000,
                            "discount": 0,
                            "is_discount": false,
                            "is_wholesaler": true,
                            "image": "https://komutodev.aptmi.com/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg"
                        }
                    ]
                },
                {
                    "catalog": {
                        "id": 33,
                        "store_id": 41,
                        "name": "Batik kumur kumur",
                        "count_product": 3,
                        "created_at": 1476994034
                    },
                    "products": [
                        {
                            "id": 155,
                            "name": "Motif Bunga Cengkeh",
                            "slug": "motif-bunga-cengkeh",
                            "price": 80000,
                            "discount": 20,
                            "is_discount": true,
                            "is_wholesaler": false,
                            "image": "http://demo.makitweb.com/broken_image/images/noimage.png"
                        }
                    ]
                },
                {
                    "catalog": {
                        "name": "Tanpa Katalog",
                        "count_product": 1
                    },
                    "products": [
                        {
                            "id": 93,
                            "name": "Kain denim motif polkadot",
                            "slug": "kain-denim-motif-polkadot",
                            "price": 100000,
                            "discount": 10,
                            "is_discount": true,
                            "is_wholesaler": true,
                            "image": "http://demo.makitweb.com/broken_image/images/noimage.png"
                        }
                    ]
                }
            ]
        }

### Get Store Product [GET /users/store/products/{id}]
Ready

+ Parameters
    + id: 80 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Product Detail Data",
            "data": {
                "product": {
                    "id": 80,
                    "name": "asdasd",
                    "slug": "asdasd",
                    "price": 1650000,
                    "discount": 100,
                    "is_discount": true,
                    "is_wholesaler": true,
                    "is_dropshipper": true,
                    "weight": 500,
                    "stock": 50,
                    "category_id": 63,
                    "store_id": 28,
                    "condition": 1,
                    "description": "lorem ipsum",
                    "attrval": 0,
                    "status": 1,
                    "is_insurance": false,
                    "margin_dropshipper": null,
                    "is_dropship": true,
                    "count_sold": 0,
                    "count_popular": 0,
                    "count_view": 0,
                    "identifier_brand": 1,
                    "identifier_catalog": 124,
                    "status_at": 1502778680,
                    "created_at": 1502730000
                },
                "category": {
                    "id": 63,
                    "parent_id": 62,
                    "icon": "http://188.166.246.46/images/img-kategori/default.png",
                    "name": "Sneakers Pria",
                    "slug": "sneakers-pria"
                },
                "images": [
                    {
                        "id": 428,
                        "product_id": 80,
                        "file": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg",
                        "created_at": 1503618116,
                        "updated_at": 1503618116
                    },
                    {
                        "id": 427,
                        "product_id": 80,
                        "file": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg",
                        "created_at": 1503618116,
                        "updated_at": 1503618116
                    }
                ],
                "wholesaler": [
                    {
                        "id": 74,
                        "min": 20,
                        "max": 30,
                        "price": 120000
                    },
                    {
                        "id": 75,
                        "min": 20,
                        "max": 30,
                        "price": 120000
                    }
                ],
                "catalog": {
                    "id": 124,
                    "store_id": 28,
                    "name": "Batik Jamur",
                    "count_product": null,
                    "created_at": 1501857724
                },
                "brand": null,
                "expedition_services": [
                    "JNE REG",
                    "JNE YES"
                ]
            }
        }

### Update Store Product [PUT /users/store/products/{id}]
Ready

+ Parameters
    + id: 80 (number, required)
    
+ Request

        {
            "name": "Dropship nih",
            "category_id": 63,
            "brand_id": 1,
            "description": "lorem ipsum",
            "price": 1650000,
            "weight": 500,
            "stock": 50,
            "condition": 1,
            "is_insurance": false,
            "is_dropship": false,
            "catalog_id": 124,
            "is_wholesaler": true,
            "discount": 0,
            "wholesales": [
                {
                    "id": 67,
                    "min_order": 5,
                    "max_order": 10,
                    "price": 1500000,
                    "is_deleted": true
                },
                {
                    "id": 68,
                    "min_order": 11,
                    "max_order": 20,
                    "price": 1200000,
                    "is_deleted": false
                },
                {
                    "id": 0,
                    "min_order": 20,
                    "max_order": 30,
                    "price": 120000,
                    "is_created": true
                }
            ],
            "expeditions": [
                {
                    "expedition_service_id": 1,
                    "status": 1
                },
                {
                    "expedition_service_id": 2,
                    "status": 1
                },
                {
                    "expedition_service_id": 3,
                    "status": 2
                }
            ],
            "images": [
                {
                    "name": "kucing.png"
                },
                {
                    "name": "kambing.png"
                }
            ]
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Product Data",
            "data": {
                "id": 80,
                "name": "Dropship nih",
                "slug": "dropship-nih",
                "price": 1650000,
                "discount": 0,
                "is_discount": false,
                "is_wholesaler": true,
                "is_dropshipper": false,
                "weight": 500,
                "stock": 50,
                "category_id": 63,
                "store_id": 28,
                "condition": 1,
                "description": "lorem ipsum",
                "attrval": 0,
                "status": 1,
                "is_insurance": false,
                "margin_dropshipper": null,
                "is_dropship": false,
                "count_sold": 0,
                "count_popular": 0,
                "count_view": 0,
                "identifier_brand": 1,
                "identifier_catalog": 124,
                "status_at": 1502778680,
                "created_at": 1502730000
            }
        }
        
### Get Store Products by Catalog [GET /users/store/products/catalogs/{id}]
Ready

+ Parameters
    
    + id: 120 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Store Catalog Products Data",
            "data": {
                "catalog": {
                    "id": 120,
                    "store_id": 23,
                    "name": "Sport Shoes2",
                    "count_product": 2,
                    "created_at": 1501723126
                },
                "products": [
                    {
                        "id": 49,
                        "name": "Dropship nih",
                        "slug": "dropship-nih",
                        "price": 1650000,
                        "discount": 0,
                        "is_discount": false,
                        "is_wholesaler": false,
                        "image": "http://188.166.246.46/uploads/produk/kambing.png"
                    },
                    {
                        "id": 48,
                        "name": "Bukan dropship",
                        "slug": "bukan-dropship",
                        "price": 1650000,
                        "discount": 0,
                        "is_discount": false,
                        "is_wholesaler": false,
                        "image": "http://188.166.246.46/uploads/produk/noimage.png"
                    }
                ]
            }
        }

### Hide Products [POST /users/products/hides]
Ready

+ Request (application/json)

        {
            "product_ids": [ 1, 2, 3 ] 
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Move Catalog Products [POST /users/store/products/move-catalog]
Ready

+ Request (application/json)

        {
            "catalog_id": 2,
            "product_ids": [ 1, 2, 3 ] 
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Update Store Information [PUT /users/store]
Ready

+ Request (application/json)

        {
            "name": "Toko Makmur Abadi Sejahtera selamanya",
            "slogan": "Lorem ipsum",
            "description": "Lorem ipsum",
            "logo": "logo.jpg"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 28,
                "name": "Toko Makmur Abadi Sejahtera selamanya",
                "logo": "http://188.166.246.46/uploads/toko/logo.jpg",
                "user_id": 32,
                "slogan": "Lorem ipsum",
                "description": "Lorem ipsum",
                "custom_domain": null,
                "status": 1,
                "remarks_status": null,
                "cover_image": null,
                "seller_theme_id": 0,
                "reputation": null,
                "store_id_number": "0982390923989",
                "total_favorite": null,
                "term_condition": null,
                "created_at": 1502211600,
                "status_at": 1502225988,
                "verification_at": 1502211600
            }
        }

### Update Store Term & Condition [PUT /users/store/term-condition]
Ready

+ Request (application/json)

        {
            "term_condition": "- Hanya melakukan pengiriman di hari kamis."
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 28,
                "name": "Toko Makmur Abadi Sejahtera selamanya",
                "logo": "http://188.166.246.46/uploads/toko/logo.jpg",
                "user_id": 32,
                "slogan": "Lorem ipsum",
                "description": "Lorem ipsum",
                "custom_domain": null,
                "status": 1,
                "remarks_status": null,
                "cover_image": null,
                "seller_theme_id": 0,
                "reputation": null,
                "store_id_number": "0982390923989",
                "total_favorite": null,
                "term_condition": "- Hanya melakukan pengiriman di hari kamis.",
                "created_at": 1502211600,
                "status_at": 1502225988,
                "verification_at": 1502211600
            }
        }

### Update Address Store [PUT /users/store/address]
Ready

+ Request (application/json)

        {
            "province_id": 32,
            "district_id": 3273,
            "sub_district_id": 1111110,
            "village_id": 1111110073,
            "postal_code": "84341",
            "address": "Jl. Klamat No. 24 RT. 002 RW. 003"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Address Data",
            "data": {
                "id": 485,
                "name": "User skyshi",
                "email": "abdan@skyshi.com",
                "phone_number": "081222333444",
                "postal_code": "84341",
                "address": "Jl. Klamat No. 24 RT. 002 RW. 003",
                "alias_address": "Alamat Toko",
                "is_primary_address": true,
                "is_sale_address": true,
                "is_tender_address": false,
                "is_checked": false
            }
        }

## Store Collection [/stores]

### Get [GET /stores/{id}]
Ready

+ Parameters
    + id: 1 (number, required)

+ Request (application/json)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Store Data",
            "data": {
                "store": {
                    "id": 1,
                    "user_id": 1,
                    "name": "Jaya Makmur",
                    "slogan": "kepuasan pelanggan adalah kebahagiaan kami",
                    "description": "menjual aneka jajanan tradisional pasar",
                    "logo": "http://188.166.246.46/uploads/toko/68d19956169712d63713a69f717f3c778998204e_jajan.jpg",
                    "custom_domain": "",
                    "status": 1,
                    "remarks_status": null,
                    "cover_image": null,
                    "seller_theme_id": 0,
                    "reputation": null,
                    "store_id_number": "3321142704940001",
                    "total_favorite": null,
                    "note": null,
                    "created_at": 1486486800,
                    "status_at": 1486513025,
                    "verification_at": 1486486800,
                    "is_verified": false,
                    "start_at": null,
                    "end_at": null,
                    "total_product_sold": "0000",
                    "origin": "Kabupaten Bandung, Jawa Barat"
                },
                "catalogs": [
                    {
                        "id": 74,
                        "store_id": 1,
                        "name": "Sepatu",
                        "created_at": 1491448518,
                        "products": [
                            {
                                "id": 1,
                                "name": "Kue Putu Ayu Kas Demak",
                                "price": 5000,
                                "discount": 0,
                                "is_discount": false,
                                "image": {
                                    "id": 230,
                                    "product_id": 1,
                                    "file": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg",
                                    "created_at": 1486513376,
                                    "updated_at": 1486513376
                                }
                            }
                        ]
                    }
                ],
                "district": {
                    "id": 3204,
                    "ro_id": 22,
                    "name": "Kabupaten Bandung"
                },
                "rating": {
                    "quality": 4,
                    "accuracy": 5,
                    "reviews": [
                        {
                            "id": 1,
                            "review": "Obatnya manjur gan",
                            "quality": 4,
                            "accuracy": 5,
                            "created_at": 1498702563,
                            "user": {
                                "id": 50,
                                "name": "bleble",
                                "photo": null
                            },
                            "product": {
                                "id": 1,
                                "name": "Kue Putu Ayu Kas Demak",
                                "price": 5000,
                                "discount": 0,
                                "is_discount": false,
                                "image": {
                                    "id": 230,
                                    "product_id": 1,
                                    "file": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg",
                                    "created_at": 1486513376,
                                    "updated_at": 1486513376
                                }
                            }
                        }
                    ]
                }
            }
        }

### Favorite Store [POST /stores/{id}/favorite]
Ready

+ Parameters
    + id : 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }
        
### Create Message [POST /stores/{id}/message]
Ready

+ Parameters
    + id: 1 (number, required)
    
+ Request (application/json)

        {
            "subject": "Mau nanya nih",
            "content": "Sepatu ini dijual ndak ya ?"
        }
        
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Message Data",
            "data": {
                "message": {
                    "id": 9,
                    "store_id": "1",
                    "user_id": 50,
                    "subject": "Mau nanya nih",
                    "flag_sender": 2,
                    "flag_receiver": 2,
                    "flag_sender_at": 1500260346,
                    "flag_receiver_at": 1500260346
                },
                "detailMessage": {
                    "id": 4,
                    "message_id": 9,
                    "user_id": 50,
                    "content": "Sepatu ini dijual ndak ya ?",
                    "created_at": 1500260347
                }
            }
        }

## Category Collection [/categories]

### List [GET]
Ready

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Category List Data",
            "data": [
                {
                    "id": 1,
                    "category_id": 0,
                    "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                    "name": "Fashion dan Aksesoris"
                }
            ]
        }

### List Category with Sub Category [GET /categories/sub]

+ Request (application/json)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Category List Data",
            "data": [
                {
                    "id": 1,
                    "category_id": 0,
                    "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                    "name": "Fashion dan Aksesoris",
                    "sub_categories": [
                        {
                            "id": 2,
                            "category_id": 1,
                            "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                            "name": "Fashion Pria"
                        },
                        {
                            "id": 3,
                            "category_id": 1,
                            "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                            "name": "Fashion Wanita"
                        }
                    ]
                },
                {
                    "id": 4,
                    "category_id": 0,
                    "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                    "name": "Ibu dan Anak",
                    "sub_categories": [
                        {
                            "id": 5,
                            "category_id": 4,
                            "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                            "name": "Ibu Hamil dan Menyusui"
                        },
                        {
                            "id": 6,
                            "category_id": 4,
                            "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                            "name": "Baby Sitter"
                        }
                    ]
                }
            ]
        }

### Get Sub Category [GET /categories/{id}/sub-categories]
Ready

+ Parameters
    + id: 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Sub Category List Data",
            "data": [
                {
                    "id": 2,
                    "category_id": 1,
                    "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                    "name": "Fashion Pria"
                },
                {
                    "id": 3,
                    "category_id": 1,
                    "icon": "https://d30y9cdsu7xlg0.cloudfront.net/png/367687-200.png",
                    "name": "Fashion Wanita"
                }
            ]
        }

### Get Brand by Category [GET /categories/{id}/brands]

+ Parameters
    + id: 2 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Brand List Data",
            "data": [
                {
                    "id": 1,
                    "category_id": 2,
                    "name": "Nike"
                },
                {
                    "id": 2,
                    "category_id": 2,
                    "name": "Adidas"
                }
            ]
        }

## Product Collection [/products]

### Create [POST]
Ready

+ Request (application/json)

        {
            "name": "Sepatu Lari Nike Orange",
            "category_id": 2,
            "brand_id": 1,
            "description": "lorem ipsum",
            "price": 1650000,
            "weight": 500,
            "stock": 50,
            "condition": "1",
            "insurance": "0",
            "is_dropship": true,
            "catalog_id": 1,
            "wholesales": [
                {
                    "min_order": 5,
                    "max_order": 10,
                    "price": 1500000
                },
                {
                    "min_order": 11,
                    "max_order": 15,
                    "price": 1200000
                }
            ],
            "expeditions": [
                {
                    "expedition_service_id": 1
                },
                {
                    "expedition_service_id": 2
                }
            ],
            "images": [
                {
                    "image": "image.png"
                }
            ]
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Create Dropship [POST /products/{id}/dropship]
Ready

+ parameters
    + id: 1 (number, required)

+ Request (application/json)

        {
            "catalog_id": 1
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Dropship Data",
            "data": {
                "id": 5,
                "product_id": 1,
                "catalog_id": 78,
                "store_id": 41,
                "status": 1,
                "status_at": 1500364537,
                "created_at": 1500364537
            }
        }    

### List [GET /products?q={query}&page={page}&limit={limit}&sort={sort}&price={price}&condition={condition}&other={other}&brands={brands}&services={services}&address={address}]
Ready

+ Parameters
    + query: "sepatu lari" (string)
    + page: 2 (number)
    + limit: 10 (number)
    + sort: "newest" (string)
    + price: "1000-10000" (string)
    + condition: "new" (string)
    + other: "discount" (string)
    + brands: "1,2,3" (string)
    + services: "1,2,3" (string)
    + address: 1 (number)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Product List Data",
            "meta": {
                "page": 2,
                "limit": 10
            },
            "data": [
                {
                    "product": {
                        "id": 23,
                        "category_id": 30,
                        "store_id": 14,
                        "name": "Marketing for Dummies book",
                        "stock": 100,
                        "weight": 1,
                        "type": 1,
                        "description": "Buku ya buat belajar",
                        "price": 1500,
                        "attrval": 0,
                        "status": 1,
                        "insurance": 0,
                        "discount": 0,
                        "margin_dropshipper": null,
                        "is_dropshipper": false,
                        "is_wholesaler": false,
                        "is_discount": false,
                        "count_sold": 0,
                        "count_popular": 0,
                        "identifier_brand": null,
                        "identifier_catalog": null,
                        "status_at": 1471211789,
                        "created_at": 1471194000,
                        "image": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg"
                    },
                    "store": {
                        "id": 14,
                        "user_id": 43,
                        "name": "WEARFINE",
                        "slogan": "Kalo kita wear harus yang fine",
                        "description": "Berani belanja HEBAT!",
                        "logo": "5ffb2f2660a04eb964dc0251a61834a4d10a6c8a_Logo wearfine 2.jpg",
                        "custom_domain": "",
                        "status": 1,
                        "remarks_status": null,
                        "cover_image": "c39d5b00be92763fffe14846922e7bd6cba061e6_tumblr-background-vintage-flower.jpg",
                        "seller_theme_id": 0,
                        "reputation": null,
                        "store_id_number": "3276021410870015",
                        "total_favorite": null,
                        "created_at": 1471194000,
                        "status_at": 1471209324,
                        "verification_at": 1499051147,
                        "is_verified": true,
                        "start_at": null,
                        "end_at": null
                    }
                }
            ]
        }

### Search [GET /products/search?q={query}]
Ready

+ Parameters
    + query: "sepatu lari" (string)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Product List Data",
            "data": [
                {
                    "name": "Sepatu lari dari"
                },
                {
                    "name": "Sepatu lari dari kenyataan"
                }
            ]
        }

### Get [GET /products/{id}]
Ready

+ Parameters
    + id: 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Product Detail Data",
            "data": {
                "product": {
                    "id": 1,
                    "name": "GoPro 5",
                    "slug": "gopro-5",
                    "stock": 100,
                    "weight": 1,
                    "type": "Camera",
                    "description": "Lorem ipsum",
                    "price": 5000000,
                    "status": 1,
                    "insurance": "Lorem",
                    "discount": 10,
                    "created_at": 1496710635,
                    "status_at": 1496710635,
                    "attrval": "0",
                    "margin_dropshipper": 0,
                    "is_dropshipper": true,
                    "is_grosir": false,
                    "count_sold": 0,
                    "count_popular": 0,
                    "count_review": 58,
                    "count_view": 0,
                    "count_discussion": 278,
                    "count_like": 1,
                    "is_liked": true,
                    "identifier_brand": 0,
                    "identifier_catalog": 32
                },
                "category": {
                    "id": 1,
                    "category_id": 4,
                    "icon": "icon.png",
                    "name": "Camera"
                },
                "store": {
                    "id": 1,
                    "user_id": 4,
                    "name": "Sports Station",
                    "slogan": "Semua harus keren",
                    "description": "Menjual semua jenis baju yang keren",
                    "logo": "https://thumb1.shutterstock.com/display_pic_with_logo/2710867/549356473/stock-vector-store-icon-shop-icon-flat-design-vector-illustration-549356473.jpg",
                    "custom_domain": ".com",
                    "created_at": 1496710635,
                    "status": 1,
                    "remarks_status": "",
                    "status_at": 1496710635,
                    "cover_image": "https://thumb1.shutterstock.com/display_pic_with_logo/2710867/549356473/stock-vector-store-icon-shop-icon-flat-design-vector-illustration-549356473.jpg",
                    "seller_theme_id": 2,
                    "reputation": 23,
                    "store_id_number": "3404092309880001",
                    "total_favorite": 40,
                    "verification_at": 1496710635,
                    "note": "lorem ipsum",
                    "count_review": 15,
                    "start_at": 1496710635,
                    "end_at": 1496710635,
                    "province": {
                        "id": 1,
                        "name": "Yogyakarta"
                    }
                },
                "images": [
                    {
                        "id": 1,
                        "product_id": 1,
                        "file": "picture.png",
                        "created_at": 1496710635,
                        "updated_at": 1496710635
                    }
                ],
                "reviews": [
                    {
                        "id": 1,
                        "user": {
                            "id": 2,
                            "name": "Budi Budiman",
                            "photo": "http://www.look4fitness.net/images/no_user_logo.png"
                        },
                        "review": "Pengemasannya bagus, pengiriman cepat,barang sesuai, recommended bgt lah",
                        "quality": 5,
                        "accuracy": 3,
                        "created_at": 1496710635
                    },
                    {
                        "id": 1,
                        "user": {
                            "id": 3,
                            "name": "Jonathan Hope",
                            "photo": "http://www.look4fitness.net/images/no_user_logo.png"
                        },
                        "review": "Lorem ipsum",
                        "quality": 5,
                        "accuracy": 3,
                        "created_at": 1496710635
                    }
                ],
                "rating": {
                    "quality": 4,
                    "accuracy": 3
                },
                "wholesaler": [
                    {
                        "id": 1,
                        "min": 5,
                        "max": 10,
                        "price": 10000
                    }
                ],
                "other_products": [
                    {
                        "id": 1,
                        "name": "Kue Putu Ayu Kas Demak",
                        "price": 5000,
                        "discount": 0,
                        "is_discount": false,
                        "count_like": 1,
                        "is_liked": true,
                        "image": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg"
                    },
                    {
                        "id": 2,
                        "name": "Kue Putu Ayu Kas Demak",
                        "price": 5000,
                        "discount": 0,
                        "is_discount": false,
                        "count_like": 1,
                        "is_liked": true,
                        "image": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg"
                    },
                    {
                        "id": 3,
                        "name": "Kue Putu Ayu Kas Demak",
                        "price": 5000,
                        "discount": 0,
                        "is_discount": false,
                        "count_like": 1,
                        "is_liked": true,
                        "image": "http://188.166.246.46/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg"
                    }
                ],
                "expeditions": [
                    {
                        "id": 1,
                        "name": "TIKI",
                        "logo": "http://188.166.246.46/img/pengiriman/tiki.png",
                        "insurance_fee": 2
                    }
                ]
            }
        }
        
### Get Store Catalog Products [GET /users/store/products/catalogs/{id}]
Ready

+ Parameters
    + id: 1 (number, required)
    
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Store Catalog Products Data",
            "data": {
                "catalog": {
                    "id": 38,
                    "store_id": 41,
                    "name": "Minuman",
                    "count_product": 1,
                    "created_at": 1477368926
                },
                "products": [
                    {
                        "id": 99,
                        "name": "say tea",
                        "slug": "say-tea",
                        "price": 10000,
                        "discount": 0,
                        "is_discount": false,
                        "is_wholesaler": true,
                        "image": "https://komutodev.aptmi.com/uploads/produk/8011774ba21b8cc99a20583008bc07e43d19bdc1_klepon1.jpg"
                    }
                ]
            }
        }
  
### Get Reviews [GET /products/{id}/reviews?page={page}&size={size}]
Ready

+ Parameters
    + id: 1 (number, required)
    + page: 1 (number)
    + size: 5 (number)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Review List Data",
            "meta": {
                "page": 1,
                "limit": 10,
                "total": 100,
                "pages": 10
            },
            "data": [
                {
                    "id": 1,
                    "user": {
                        "id": 66,
                        "name": "User skyshi",
                        "photo": "http://www.look4fitness.net/images/no_user_logo.png"
                    },
                    "review": "Pengemasannya bagus, pengiriman cepat,barang sesuai, recommended bgt lah",
                    "quality": 5,
                    "accuracy": 3,
                    "created_at": 1496710635
                }
            ]
        }

### Create Review [POST /products/{id}/reviews]
Ready

+ Parameters
    + id: 2 (number, required)

+ Request (application/json)

        {
            "review": "Barang memuaskan",
            "quality": 5,
            "accuracy": 3
        }

+ Response 201 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Bulk Delete Products [DELETE /products/delete]

+ Request (application/json)

        [
            {
                "product_id" : 1
            },
            {
                "product_id" : 2
            }
        ]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Report Product [POST /products/{id}/report]
Ready

+ Parameters
    + id: 1 (number, required)

+ Request (application/json)

        {
            "report_type": 1,
            "description": "Salah katalog nih"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 2,
                "product_id": 1,
                "user_id": 50,
                "type": 1,
                "description": "Salah katalog nih"
            }
        }

### Add to wishlist [GET /products/{id}/wishlist]
Ready

+ Parameters
    + id: 1 (number, required)

+ Response 200 (application/json)

        {
              "code": 200,
              "status": true,
              "message": "Success",
              "data": {}
        }
        
### Get Discussions [GET /products/{id}/discussions]
Ready

+ Parameters
    + id: 1 (number, required)
    
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Product Discussion Data",
            "meta": {
                "page": 1,
                "limit": 10
            },
            "data": [
                {
                    "id": 2,
                    "user": {
                        "id": 100,
                        "name": "Akmal Gumilar",
                        "photo": "http://188.166.246.46/uploads/user/100_14770314462dba9b2d116.jpg",
                        "gender": "male",
                        "place_of_birth": 3275,
                        "date_of_birth": 604861200
                    },
                    "question": "barangnya ready gan?",
                    "created_at": 1477627049,
                    "count_comments": 0
                }
            ]
        }
        
### Get Discussion Comments [GET /products/{id}/discussions/{discussion_id}/comments]
Ready

+ Parameters
    + id: 2 (number, required)
    + discussion_id: 2 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Discussion Comments Data",
            "meta": {
                "page": 1,
                "limit": 10
            },
            "data": [
                {
                    "id": 4,
                    "user": {
                        "id": 3,
                        "name": "Afifur Rahman",
                        "photo": "http://188.166.246.46/uploads/user/3_1496110091dcbc8f63b06c8.jpeg",
                        "gender": "male",
                        "place_of_birth": 3321,
                        "date_of_birth": 652899600
                    },
                    "content": "rem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).",
                    "created_at": 1496091123
                },
                {
                    "id": 3,
                    "user": {
                        "id": 3,
                        "name": "Afifur Rahman",
                        "photo": "http://188.166.246.46/uploads/user/3_1496110091dcbc8f63b06c8.jpeg",
                        "gender": "male",
                        "place_of_birth": 3321,
                        "date_of_birth": 652899600
                    },
                    "content": "barang saya kok belum sampai ya ?",
                    "created_at": 1496090500
                }
            ]
        }
        
### New Discussion [POST /products/{id}/discussions]
Ready

+ Parameters
    + id: 1 (number, required)

+ Request (application/json)

        {
            "question": "Hallo gan, mau nanya neh. Sepatu ini kan ringan banget kayaknya. Ngerawat nya susah enggak ya?"
        }

+ Response 201 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Discussion Data",
            "data": {
                "id": 21,
                "user_id": 100,
                "question": "Hallo gan, mau nanya neh. Sepatu ini kan ringan banget kayaknya. Ngerawat nya susah enggak ya?",
                "created_at": 1496710635
            }
        }

### New Comment [POST /products/{id}/discussions/{discussion_id}/comments]
Ready

+ Parameters
    + id: 1 (number, required)
    + discussion_id: 1 (number, required)

+ Request (application/json)

        {
            "content": "Ready gan silahkan di order"
        }

+ Response 201 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Comment Data",
            "data": {
                "id": 9,
                "user_id": 9,
                "content": "Iya sedia warna coklat aja",
                "created_at": 1500014900
            }
        }s

## Tender Product Collection [/tender-products]

### List [GET]

+ Request (application/json)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Tender Product List Data",
            "meta": {
                "page": 1,
                "limit": 10,
                "total": 100,
                "pages": 10
            },
            "data": [
                {
                    "product": {
                        "id": 1,
                        "name": "GoPro 5",
                        "amount": 5,
                        "weight": 1,
                        "type": "1",
                        "description": "Panah  berburu buatan Jerman Tahun 1980",
                        "open_bid": 120000,
                        "max_bid": 5000000,
                        "insurance": "1",
                        "status": 1,
                        "status_at": 1496710635,
                        "start_at": 1496710635,
                        "end_at": 1496710635
                    },
                    "category": {
                        "id": 1,
                        "category_id": 4,
                        "icon": "icon.png",
                        "name": "Camera"
                    },
                    "store": {
                        "id": 13,
                        "user_id": 2,
                        "name": "Baju Keren",
                        "slogan": "Semua harus keren",
                        "description": "Menjual semua jenis baju yang keren",
                        "logo": "https://thumb1.shutterstock.com/display_pic_with_logo/2710867/549356473/stock-vector-store-icon-shop-icon-flat-design-vector-illustration-549356473.jpg",
                        "custom_domain": ".com",
                        "created_at": 1496710635,
                        "status": 1,
                        "remarks_status": "",
                        "status_at": 1496710635,
                        "cover_image": "https://thumb1.shutterstock.com/display_pic_with_logo/2710867/549356473/stock-vector-store-icon-shop-icon-flat-design-vector-illustration-549356473.jpg",
                        "seller_theme_id": 2,
                        "reputation": 23,
                        "store_id_number": "3404092309880001",
                        "total_favorite": 40,
                        "verification_at": 1496710635,
                        "note": "lorem ipsum",
                        "count_review": 15,
                        "start_at": 1496710635,
                        "end_at": 1496710635
                    },
                    "images": [
                        {
                            "id": 1,
                            "product_id": 1,
                            "file": "picture.png",
                            "created_at": 1496710635,
                            "updated_at": 1496710635
                        }
                    ]
                }
            ]
        }

### Get [GET /tender-products/{id}]

+ Parameters
    + id: 1 (number, required)

+ Request (application/json)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Tender Product Detail Data",
            "data": {
                "product": {
                    "id": 1,
                    "name": "GoPro 5",
                    "amount": 5,
                    "weight": 1,
                    "type": "1",
                    "description": "Panah  berburu buatan Jerman Tahun 1980",
                    "open_bid": 120000,
                    "max_bid": 5000000,
                    "insurance": "1",
                    "status": 1,
                    "status_at": 1496710635,
                    "start_at": 1496710635,
                    "end_at": 1496710635
                },
                "category": {
                    "id": 1,
                    "category_id": 4,
                    "icon": "icon.png",
                    "name": "Camera"
                },
                "store": {
                    "id": 13,
                    "user_id": 2,
                    "name": "Baju Keren",
                    "slogan": "Semua harus keren",
                    "description": "Menjual semua jenis baju yang keren",
                    "logo": "https://thumb1.shutterstock.com/display_pic_with_logo/2710867/549356473/stock-vector-store-icon-shop-icon-flat-design-vector-illustration-549356473.jpg",
                    "custom_domain": ".com",
                    "created_at": 1496710635,
                    "status": 1,
                    "remarks_status": "",
                    "status_at": 1496710635,
                    "cover_image": "https://thumb1.shutterstock.com/display_pic_with_logo/2710867/549356473/stock-vector-store-icon-shop-icon-flat-design-vector-illustration-549356473.jpg",
                    "seller_theme_id": 2,
                    "reputation": 23,
                    "store_id_number": "3404092309880001",
                    "total_favorite": 40,
                    "verification_at": 1496710635,
                    "note": "lorem ipsum",
                    "count_review": 15,
                    "start_at": 1496710635,
                    "end_at": 1496710635
                },
                "images": [
                    {
                        "id": 1,
                        "product_id": 1,
                        "file": "picture.png",
                        "created_at": 1496710635,
                        "updated_at": 1496710635
                    }
                ]
            }
        }

### Get Reviews [GET /tender-products/{id}/reviews]

+ Parameters
    + id: 1 (number, required)

+ Request (application/json)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Review List Data",
            "meta": {
                "page": 1,
                "limit": 10,
                "total": 100,
                "pages": 10
            },
            "data": [
                {
                    "id": 1,
                    "product_id": 1,
                    "user": {
                        "id": 66,
                        "name": "User skyshi",
                        "photo": "http://www.look4fitness.net/images/no_user_logo.png"
                    },
                    "review": "Pengemasannya bagus, pengiriman cepat,barang sesuai, recommended bgt lah",
                    "quality": 5,
                    "accuracy": 3,
                    "created_at": 1496710635
                }
            ]
        }

## Bucket Collection [/buckets]

### Add to cart [POST]
Ready

+ Request (application/json)

        {
            "product_id": 1,
            "expedition_id": 1,
            "expedition_service_id": 1,
            "qty": 1,
            "note": "Lorem ipsum",
            "address_id": 1,
            "is_insurance": true,
            "additional_cost": 5000,
            "delivery_cost": 32000
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "id": 252,
                "user_id": 32,
                "promo_id": null,
                "order_at": 1501693200,
                "wallet": 0,
                "status": 1,
                "status_at": 1501693200
            }
        }
        
### Delete cart [DELETE /buckets/items/{id}]
Ready

+ Parameters

    + id: 380 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Get promo [GET /buckets/promo?code={code}]
Ready

+ Parameters
    + code: BELANJAENAK (string, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Count Bucket",
            "data": {
                "id": 7,
                "marketplace_user_id": 0,
                "promo_code": "RMN019",
                "type": 1,
                "percentage": 10,
                "nominal": 300000,
                "start_at": 1464886800,
                "expired_at": 1509296400,
                "status": 1,
                "status_at": 1469775539
            }
        }

### Cancel promo [GET /buckets/promo/cancel]
Ready

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }

### Get Count Bucket [GET /buckets/count]
Ready

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Count Bucket",
            "data": {
                "count": 100
            }
        }
        
### Bank Payment [POST /buckets/{id}/bank]
Ready

+ Parameters

    + id: 252 (number, required)

+ Request

        {
            "bank_account_id": 1,
            "date": 1477242000,
            "amount": 150000,
            "bank": "BNI",
            "holder_account_number": "12341234",
            "attachment": "attachment.png"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "success",
            "data": {
                "id": "23",
                "user_id": 32,
                "bucket_id": 252,
                "bank_account_id": 1,
                "date": 1477242000,
                "amount": 150000,
                "bank": "BNI",
                "holder_account_number": "12341234",
                "attachment": "http://188.166.246.46/uploads/payment_confirmation/attachment.png"
            }
        }
        
### Bulk Update Cart [PUT /buckets]
Ready

+ Request

        {
            "items": [
                {
                    "id": 470,
                    "expedition_id": 2,
                    "expedition_service_id": 1,
                    "qty": 1,
                    "note": "Kirimnya cepat ya gan",
                    "address_id": 142,
                    "is_insurance": true,
                    "service": "YES",
                    "origin_ro_id": 152,
                    "destination_ro_id": 108
                }
            ] 
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Items Data",
            "data": [
                {
                    "id": 470,
                    "qty": 1,
                    "weight": 1000,
                    "additional_cost": 0,
                    "total_price": 32200,
                    "bucket_id": 269,
                    "product_id": 96,
                    "invoice_id": null,
                    "shipping_id": 309,
                    "dropshipper_id": 0,
                    "note": "Kirimnya cepat ya gan"
                }
            ]
        }

## Review Collection [/reviews]

### Search  [GET /reviews/search?q={query}&store_id={store_id}&user_id={user_id}&product_id={product_id}&limit={limit}&page={page}]
Ready

+ Parameters
    + query: "pengiriman cepat" (string)
    + page: 2 (number)
    + limit: 10 (number)
    + store_id: 1 (number)
    + user_id: 50 (number)
    + product_id: 9 (number)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Review List Data",
            "meta": {
                "page": 1,
                "limit": 10,
                "total": 100,
                "pages": 10
            },
            "data": [
                {
                    "id": 1,
                    "product_id": 1,
                    "user": {
                        "id": 66,
                        "name": "User skyshi",
                        "photo": "http://www.look4fitness.net/images/no_user_logo.png"
                    },
                    "review": "Pengemasannya bagus, pengiriman cepat,barang sesuai, recommended bgt lah",
                    "quality": 5,
                    "accuracy": 3,
                    "created_at": 1496710635
                }
            ]
        }

## Expedition Collection [/expeditions]

### Get List Expedition [GET]
Ready

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Expedition Data",
            "data": [
                {
                    "id": 1,
                    "name": "JNE",
                    "logo": "logo.png",
                    "insurance_fee": 20000,
                    "services": [
                        {
                            "id": 1,
                            "name": "REG",
                            "description": "Layanan reguler",
                            "logo": "logo.png"
                        }
                    ]
                },
                {
                    "id": 2,
                    "name": "TIKI",
                    "logo": "logo.png",
                    "insurance_fee": 15000,
                    "services": [
                        {
                            "id": 1,
                            "name": "Service Normal",
                            "description": "Service normal adalah",
                            "logo": "logo.png"
                        }
                    ]
                }
            ]
        }

### Get Expedition Service [GET /expeditions/{id}/services]
Ready

+ Parameters
    + id : 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Expedition Data",
            "meta": {
                "page": 1,
                "limit": 10,
                "total": 100,
                "pages": 10
            },
            "data": [
                {
                    "id": 1,
                    "name": "REG",
                    "description": "Layanan reguler",
                    "logo": "logo.png"
                },
                {
                    "id": 1,
                    "name": "REG",
                    "description": "Layanan reguler",
                    "logo": "logo.png"
                }
            ]
        }

### Cost Expedition [GET /expeditions/{id}/cost?origin_ro_id={origin_id}&destination_ro_id={destination_id}&weight={weight}]
Ready

+ Parameters
    + origin_id: 501 (number, required)
    + destination_id: 62 (number, required)
    + weight: 1700 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Cost Data",
            "data": [
                {
                    "id": 1,
                    "name": "REG",
                    "description": "Layanan reguler",
                    "cost": 32000,
                    "etd": "6-7",
                    "full_name": "JNE REG"
                },
                {
                    "id": 2,
                    "name": "OKE",
                    "description": "Ongkos Kirim Ekonomis",
                    "cost": 28000,
                    "etd": "4-5",
                    "full_name": "JNE OKE"
                }
            ]
        }

### Get List Expedition Service [GET /expeditions/services]
Ready

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Expedition Service Data",
            "data": [
                {
                    "id": 1,
                    "expedition_id": 2,
                    "name": "JNE Reguler",
                    "description": "JNE Reguler adalahpaket reguler yang ditawarkan JNE. Kecepatanpengiriman tergantung dari lokasi pengiriman dan tujuan. untuk kota yang sama umumnya memakan waku 2-3 hari",
                    "status": "1",
                    "status_at": "2016-06-21T17:00:00.000Z",
                    "logo": null
                },
                {
                    "id": 2,
                    "expedition_id": 2,
                    "name": "JNE YES",
                    "description": "JNE YES adalah Paket dengan prioritas pengiriman tercepat yang ditawarkan JNE. Hanya saja perlu diperhatikan kecepatan barang dipengaruhi kecepatan penjual melakukan pengiriman barang.",
                    "status": "1",
                    "status_at": "2016-06-11T17:00:00.000Z",
                    "logo": null
                }
            ]
        }
        
### Cost Expedition by Product [GET /expeditions/cost?product_id={product_id}&origin_ro_id={origin_id}&destination_ro_id={destination_id}&weight={weight}]
Ready

+ Parameters
    + product_id: 1 (number, required)
    + origin_id: 501 (number, required)
    + destination_id: 62 (number, required)
    + weight: 1 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Cost Data",
            "data": [
                {
                    "id": 1,
                    "name": "REG",
                    "description": "Layanan reguler",
                    "cost": 32000,
                    "etd": "6-7",
                    "full_name": "JNE REG"
                },
                {
                    "id": 2,
                    "name": "Reguler",
                    "description": "Reguler",
                    "cost": 28000,
                    "etd": "4-5",
[...]
